[2014-03-05 20:50] shaqq opened #25 "Tester Failing on Valid VAST Files"
If you try out any of the [sample VAST files](http://www.iab.net/guidelines/508676/digitalvideo/vast/vast_xml_samples) from iab, they don't seem to pass your [http://dailymotion.github.io/vast-client-js/#/test](vast tester).

I _think_ the problem is [here](https://github.com/dailymotion/vast-client-js/blob/gh-pages/js/controllers/test-controller.js) because the callback for client.get takes cbk(e

[2014-03-05 21:06] shaqq opened #26 "Vast 3.0?"
Is this client up to date with Vast 3.0? If so, could you put it in the README?

Thanks!

[2014-03-07 18:15] #25 closed, assigned to nobody

[2014-03-19 16:37] shaqq opened #31 "Math.round on Quartile Tracking?"
I was just curious about the usage Math.round when calculating the quartiles, here:

https://github.com/dailymotion/vast-client-js/blob/master/src/tracker.coffee#L27

The value ends up being a floating point number anyway, because it's dividing by 100. Should we take out the Math.round bit?

[2014-03-27 15:33] doublex opened #32 "IE 8"
There are some JS errors on IE7 and IE8.
Maybe one should add a workaround?
Array.prototype.forEach.call(...);
CSSStyleDeclaration.prototype.getProperty = function(a) {return this.getAttribute(a);};
CSSStyleDeclaration.prototype.setProperty = function(a,b) {return this.setAttribute(a,b);}
CSSStyleDeclaration.prototype.removeProperty = function(a) {return this.removeAttribute(a);}

[2014-04-01 19:26] ponchorage opened #33 "Wrapper support"
Could you please ad support for VAST wrappers? I'm using DFP and we often have wrappers in our VAST response. The response is getting returned as undefined.

[2014-04-01 20:50] #33 closed, assigned to nobody

[2014-05-23 22:26] info2000 opened #37 "support vpaid"
This client support vpaid into vast wrapper?

[2014-06-24 04:31] NamPNQ opened #41 "Creative companion tracking events empty"
Test with this tag:
http://delivery.m.ambientplatform.vn/247/mxmlvideoad/zid_1400656407/wid_1398313715/type_inline/eff_mv/cb_[timestamp]

[2014-06-30 10:19] #41 closed, assigned to nobody

[2014-07-15 07:28] #32 closed, assigned to nobody

[2014-10-24 15:02] hydrozen opened #53 "Problem with wrapper, VASTAdTagURI and TrackingEvents"
I’m trying to display an add in videojs using the onion vast plugin which uses vast-client. As soon as I have `<TrackingEvents>`, vast-client bombs saying for example `Uncaught TypeError: Cannot read property 'complete' of undefined`.

If I remove the content of `<TrackingEvents>`, then everything works and the ad displays. Any ideas what could be going on?

Here’s the XML I used:

[code]

[2014-11-03 14:47] hc2p opened #55 "exposing VAST-errors"
Hi guys,

i want to link our metrics-system with the parser to track all VAST-errors popping up.
There is currently no way to do this afaik.

Two scenarios i can see working here.

a) pass an additional error-callback through client.get() to parser.parse()
or
b) wrap VASTUtil.track() with a function which emits an 'VAST-error' event.

what do you guys think make sense here?
Thanks for looking into

[2014-11-04 11:30] #55 closed, assigned to nobody

[2014-12-06 12:54] PaulMaly opened #58 "Where I can find a docs or some demo?"
Hello! Great library!

But actually, not so clear how to use it. Where I can find a docs or some demo?

Even in Usage section example we have player variable, but I can't find where it was defined? What player variable is? HTML5 player defined somewhere else? Or what?

It will be nice, if someone give more concrete example for basic case: "we have a VAST compatible URL, we need to parse it to get

[2014-12-08 15:23] carpasse opened #59 "Uncaught TypeError: Cannot read property 'replace' of undefined When VAST file with empty impression is returned from DFP"
Hi Guys

I am getting this error when I use the plugin
[code]

I have been investigating this error for a while and it seems that the cause of it is the VAST file that DFP returns. Which contains and empty impressions tag like the one below

[code]

What happens is that when the parser (https://github.com/dailymotion/vast-client-js/blob/master/src/parser.coffee) is parsing the xml on line 187

[co

[2014-12-09 22:20] #58 closed, assigned to nobody

[2014-12-12 16:04] carpasse opened #61 "Problem when parsing empty creative"
I have only experimented this error from time to time whenever I got an empty creative

[code]

I imagine that is not very common but still it throws an error from time to time that prevents the ads from loading.

I have tracked down the error to the '_parse' function in https://github.com/dailymotion/vast-client-js/blob/master/src/parser.coffee

on line 122 you have

[code]

This line compiles to

[2014-12-18 14:11] #37 closed, assigned to nobody

[2015-03-11 00:02] philotas opened #73 "How do I actually use the this? What is 'player'?"
Sorry for the question, but how do I actually use this?

In my head I included 'vast-client.js'

and then I copied the code from shown as shown in usage

but there is now object named `player` as used in:

[code]

I tried setting `player` to the video element of my page but this is obviously no the expected element since it does not have the `on` method.

Where is  `player` created?

Thanks for cl

[2015-03-11 00:43] philotas commented on #73
found an answer here:
https://github.com/dailymotion/vast-client-js/issues/58

[2015-03-11 00:43] #73 closed

[2015-06-04 14:55] StevenLangbroek opened #76 "Publish on NPM"
Hey guys,

Mind publishing this on NPM? If you need PR or help let me know ok?

Thnx,

- Steven

[2015-06-04 15:30] StevenLangbroek commented on #76
Some issues to fix:

- [ ] Include entry point in package.json
- [ ] Build to CommonJS

[2015-06-17 11:49] StevenLangbroek commented on #26
+1 on this, can you guys elaborate?

[2015-07-01 20:16] StevenLangbroek opened #79 "Architecture issue"
Hey guys,

I'm trying to use this in a componentised way (we implement this in our platform, but I'm building a standalone debugger). What I want to do should be relatively straight forward if it wasn't so tightly coupled:
- Show choice: `By URL` or `By XML`
- If `By XML`, show CodeMirror editor and have our employees input XML
- If `By URL`, run through `VASTClient.client`.

The problem here is w

[2015-08-28 04:24] nathschmidt commented on #76
+1

PR #83  actually adds support for publishing this module. All that is needed now is a dailymotion NPM account and `npm publish`.

[2015-08-28 05:18] rs commented on #76
Done, thx for your help

[2015-08-31 18:05] osiloke opened #84 "browserify will not bundle unless you add --extension=.coffee"
It looks like you need to specify coffee extension ignored to require modules the way you do
i.e browserify -s DMVAST -c 'coffee -scb' --extension=.coffee src/index.coffee -o vast-client.js

[2015-09-12 22:59] spodlecki opened #86 "Single Wrapper XML File does not load (GIST)"
VAST XML Samples: https://gist.github.com/spodlecki/6808e73003c1bcbcf9a4

_Loads properly:_ Given a single wrapper **and** a single inline ad, the second XML file loads fine and plays both ads (see file document_with_one_inline_and_one_wrapper_ad.xml)

_Fails to load ad:_ Given a VAST 2.0 with a single wrapper ad, the Wrapper XML file does not load (see file document_with_one_wrapper_ad.xml)

[2015-09-12 23:46] rs commented on #84
Could you create a pull request please?

[2015-09-12 23:52] #76 closed

[2015-09-12 23:59] rs commented on #31
Introduced here: https://github.com/dailymotion/vast-client-js/commit/9ad865c99aae0806320621a9f688c758328e351d

What do you think @dharFr?

[2015-09-13 00:01] rs commented on #79
Yes it would be interested to decouple the URL handler. Feel free to PR.

[2015-09-13 00:01] rs commented on #86
I'm not sure to follow. Did you spot where the issue is?

[2015-09-13 00:03] #59 closed

[2015-09-13 00:04] rs commented on #61
Dup of #59 (please reopen if not)

[2015-09-13 00:04] #61 closed

[2015-09-13 00:09] rs commented on #53
@michaelvial is this fixed now? can we close?

[2015-09-13 00:18] rs commented on #26
It's VAST 3.0 compilent for the most part. Ad pods aren't supported.

[2015-09-13 00:23] #26 closed

[2015-09-13 03:31] spodlecki commented on #86
I unfortunately don't know where the problem is with the wrapper not loading. I can only tell you where it failed from looking at what the browser is doing.

When it runs the inline + wrapper, it loads the the XML file -- but when its just the wrapper, its not loading via http

[2015-09-13 20:58] michaelvial commented on #53
@rs Yes, it is.

[2015-09-13 20:58] #53 closed

[2015-09-16 17:08] dharFr commented on #31
Not sure to remember why I ended up with this...
I guess it's most likely a mistyped version of `Math.round(25 * @assetDuration / 100)`, which would not be much useful because we finally use the resulting value as a boundary (see [here](https://github.com/dailymotion/vast-client-js/commit/9ad865c99aae0806320621a9f688c758328e351d#diff-3575e111f8719c68619c1bbdce3e53feR63)).

Even if it's a minor iss

[2015-09-25 09:02] selam opened #87 "progress event doesnt supported"
VAST 3.0 spec says we can track ads progress with quartiles and progress event in same time but vast client doesn't support progress event

[2015-09-25 09:05] rs commented on #87
Both kinds of trackers should be supported. See https://github.com/dailymotion/vast-client-js/blob/master/src/tracker.coffee#L58-L70

[2015-09-25 09:07] selam opened #88 "pause, complete, resume events fired when ads finished playing"
When ads finish to play vast-client.js fires pause, complete and resume events (in that order) except complete none of them related with ad file.

I am not sure this bug related with vast-client it self or other plugin called videojs.vast.js.

[2015-09-25 09:11] rs commented on #88
The pause and resume events are not triggered if the related methods are not called on the VAST client tracker.

[2015-09-25 09:22] #87 closed

[2015-09-25 09:22] selam commented on #87
ohh yes my mistake i was using 1.3.3 release instead of master.  I close this becouse it's invalid.

[2015-09-25 14:08] selam commented on #88
I can't figure out  why and how pause event triggered but here is what i found.

videojs.vast.js attach a callback to pause event, when it fires, execute events from vast-client.js,

this event never fired by user during the tests (that means we dont click to pause button) however after ads finish pause event triggered. i cannot find source this event (i comment out all pause() related methods in

[2015-09-25 15:08] rs commented on #88
VAST client does't manage the video tag. What you describe is handled the videojs plugin you are using.

[2015-09-30 21:21] #84 closed

[2015-09-30 22:23] nerdynick opened #90 "Support for parsing <Extensions> in <InLine>"
We have a use case where we need to get at the <Extensions> values within <InLine>.  Seeing as by spec <Extensions> value can be any valid XML. I'm proposing a very generic parsed response. It'd be an array of extension elements each with name, value, attributes where they are string, string, object respectively. It'll be up to the end user to parse the value of each extension any farther as that

[2015-09-30 22:28] nerdynick commented on #90
I have a functioning change set for this. Just working on testing and validation before submitting pull request.

[2015-09-30 23:06] nerdynick commented on #90
PR submitted

[2015-09-30 23:30] rs commented on #90
You may want to have the unparsed arbitrary xml in the value.

[2015-09-30 23:35] nerdynick commented on #90
Which value? VastAd.extensions or VASTAdExtension.value? VASTAdExtension.value should be the raw text value of anything below it including XML.

Was just thinking about adding extensionsRaw to the VastAd as a just incase.

[2015-10-14 18:49] zrehmani opened #94 "Ad Pod vs Standalone Ad"
As far as I understand VAST 3.0 spec - I thought that ads with sequence attribute are to be in group (pod) to be played as a group while stand alone ads - those without sequence should be separate.  For example if any of the ad inside pod fail to load - player can chose one from the stand alone ad what spec calls ad buffet.  From my initial test - it seems like there is no distinction made by the

[2015-10-14 19:23] rs commented on #94
You're right, ad pods aren't implemented yet. If you want to propose a PR, welcome.

[2015-10-14 22:00] zrehmani commented on #94
Thanks for getting back.  Hope to see this implemented in near future.  I was test driving it and will check in future again.

[2015-10-15 11:27] tscislo opened #95 "Can you please provide better documentation for this lib?"
Current README.md is not sufficient to get familiar with your library. It would be more helpful if you could provide better documentation.

[2016-02-04 13:13] duilio opened #98 "VAST 4.0"
Is there any plan for supporting VAST 4.0?

http://www.iab.com/guidelines/digital-video-ad-serving-template-vast-4-0/

[2016-02-29 08:40] ufucuk opened #100 "Nonlinear Support"
Do you consider implementing nonlinears? Due to tightly coupled structure of the code it is not really easy to implement as a separate module.

[2016-03-01 16:41] ufucuk commented on #100
Implemented and created a pull request!

[2016-03-02 17:02] ufucuk commented on #100
is an update possible for npm please?

[2016-03-02 17:16] rs commented on #100
done

[2016-03-03 10:55] Mulder90 commented on #98
+1 for this

[2016-03-04 10:37] #100 closed

[2016-03-08 09:03] ufucuk commented on #98
When they release xsd for VAST 4 I'll implement it!

[2016-03-10 14:10] riccardoughi opened #103 "What is this software ? I am really interested but i really dont understand how this software works ! Please, can you provide some documentations ?"

[2016-05-03 11:07] mimcz commented on #103
It helps you to request you video adserver and handle VAST responses.

[2016-07-21 22:44] rubeniskov opened #105 "adTypeElement in VASTParser.parseAdElement in ie9 not support set id"
As you can see the code raise an error in ie9, I will send you and a pull-request to solve this

Kind regards!

<img width="1437" alt="captura de pantalla 2016-07-22 a las 0 38 46" src="https://cloud.githubusercontent.com/assets/6261914/17041281/575f2f10-4fa5-11e6-8776-79314eaf3fe4.png">

PR https://github.com/dailymotion/vast-client-js/pull/106

[2016-07-21 22:57] rubeniskov commented on #105
PR: https://github.com/dailymotion/vast-client-js/pull/106

[2016-07-22 10:03] #90 closed

[2016-08-03 09:17] TLFyber opened #107 "Extract CompanionClickTracking value from companion ads"
According to the [VAST spec](http://www.iab.com/wp-content/uploads/2015/06/VASTv3_0.pdf), companion ads can have an optional CompanionClickTracking property which "contains a URI to a location or file that the video player should request when the user clicks on the companion creative." Currently the client extracts the CompanionClickThrough property but doesn't extract CompanionClickTracking. Woul

[2016-08-03 09:30] TLFyber commented on #107
I created a PR with a suggested way of solving this issue:
https://github.com/dailymotion/vast-client-js/pull/108

[2016-08-03 12:37] michaelvial commented on #107
Fixed in 9d8d6dc353e9476f5bc4fe7f98326563da240179

[2016-08-03 12:37] #107 closed

[2016-08-03 13:55] TLFyber commented on #107
Sorry to re-open this, it appears the PR i submitted before won't support all VAST tags which use this feature. I submitted another PR to correct this:
https://github.com/dailymotion/vast-client-js/pull/109

[2016-09-14 08:21] ksyrytczyk opened #113 "Cannot bundle on Windows"
Hi,

I hit a snag with the project bundling on Windows when running command:

[code]

My environment is:
- Windows 7 Pro (64x)
- Node v6.3.1
- NPM v3.8.7

[2016-09-14 10:25] michaelvial commented on #113
Hi,

If you update `browserify` to `13.1.0` in the `package.json` file, does the build work?

[2016-09-14 10:27] #103 closed

[2016-09-14 10:27] #95 closed

[2016-09-14 10:28] michaelvial commented on #88
not a `vast-client` bug, closing

[2016-09-14 10:28] #88 closed

[2016-09-14 11:29] ksyrytczyk commented on #113
Unfortunately not.

I also tried update `coffee-script`  to 1.10.0, and `xmldom` to 0.1.22.

Now I got:
[code]

[2016-09-14 20:32] michaelvial commented on #113
Alright, I think I've found why the build doesn't work on Windows. When bundling all `.coffee` files with `browserify`, we use the option `-c` (`--command`) to transform `.coffee` into `.js` files. My guess is `browserify` probably spawns `coffee` child processes for doing that. Unfortunately this requires some specific code in order to work on Windows, according to: https://github.com/jashkenas/c

[2016-09-15 08:16] ksyrytczyk commented on #113
Great, it works now.

Please look at #114 if it's ok.

Thank you very much for help!

[2016-09-15 10:07] praiz opened #115 "Support for parsing <Icons> in <InLine>"
In the documentation https://www.iab.com/wp-content/uploads/2015/06/VASTv3_0.pdf is a description of a node on page 56

[2016-09-26 14:33] ngehlert opened #116 "Catch HTTPS-->HTTP error"
I want to show a VAST Preview on my HTTPS site, the user can provide VASTs with their videos.

Some users however use insecure HTTP videos. In the vast-client.js there is a separate check to catch and throw an error in that case.
But I was not able to catch that error inside my DMVAST.client.get() call.

Is there any way to catch that error so I can provide a specific error handling to the user?

[2016-10-03 20:58] samkjohns opened #117 "XMLHttpRequest.overrideMimeType throws error in IE"
Hi. XHRURLHandler.get has a call to XMLHttpRequest.overrideMimeType. This call throws an error in IE10 for me.

From https://github.com/dailymotion/vast-client-js/blob/master/src/urlhandlers/xmlhttprequest.coffee:
[code]

Can we add a quick check for the existence of overrideMimeType before the function call to prevent throwing an error?

Thanks.

[2016-10-12 09:10] #117 closed

[2016-10-12 14:23] michaelvial commented on #116
Well, you're right, there is no way to catch errors raised inside `DMVAST.client.get()` call. Well spotted bug.
We'll have to rewrite quite some code to fix this issue, and make some change in the API, so the proper fix will be foe the next major release.

In the meantime, you can use a custom `urlHandler` component to handle the HTTPS - > HTTP error. Something like

[code]

Thx @ngehlert for repo

[2016-10-12 14:36] michaelvial commented on #105
Fixed in #111

[2016-10-12 14:36] #105 closed

[2016-10-13 10:01] ngehlert commented on #116
awesome thanks for the response and the workaround.
i'll stay tuned for the next major release :)
do you have a rough idea when the next major release will be?

[2016-10-13 11:46] michaelvial commented on #116
no, but we're gonna have to move from `coffee` to `es6` and break things :)

[2016-10-13 11:47] #116 closed

[2016-10-24 20:48] rizhang opened #123 "Wrapper URLs not called when passing in Response Document"
I have a situation where I am passing in the response document and not passing a URL. When the response document has a `<Wrapper>` object, the `<Wrapper>`'s URL is not called, and instead the original document I passed in is re-used.

Suggested Fix is to not re-use the `response` object on subsequent calls for `<Wrapper>` objects.

Steps to Reproduce:

* XML Document

[code]

* Call to vast-client

[2016-10-28 14:40] #115 closed

[2016-10-28 14:40] michaelvial commented on #115
Supported in 1.4.0

[2016-10-28 14:41] michaelvial commented on #123
Fixed in 1.4.0

[2016-10-28 14:41] #123 closed

[2016-11-03 15:08] Grafluxe opened #128 "ClickThrough node is null."
The ClickThrough node in VideoClicks returns null. Note that the ClickTracking node works as expected.

[code]

[2016-11-03 16:03] Grafluxe commented on #128
This issue only happens when wrappers are involved.

[2016-11-04 14:00] michaelvial commented on #128
Hi @Grafluxe . I've done a quick test with a VAST wrapper and I've access to the creative `ClickThrough` URL:
[code]

Can you provide me a VAST file where I can reproduce your issue?

[2016-11-04 17:18] Grafluxe commented on #128
Thanks for the quick reply @michaelvial.

I'm experiencing problems when the VASTWrapper has a VideoClickThrough URL, but no VideoClicks node is present in the corresponding VAST response.

Instead of keeping the ClickThrough URL from the VASTWrapper, the logic overwrites the value with null.

VASTWrapper:

[code]

[2016-11-07 15:47] michaelvial commented on #128
@Grafluxe Can you tell me if #129 fix your problem?

[2016-11-07 16:07] Grafluxe commented on #128
I pulled and retried. It's still not working.

[2016-11-07 16:13] michaelvial commented on #128
Ok Can you provide me a GIST where I can find both wrapper an inline VAST files?

[2016-11-07 16:18] Grafluxe commented on #128
I retried again, but this time checking out the 'vast2_wrapper_clickthrough_support' branch specifically and re-running 'npm install' and 'npm run bundle'. It works now.

Thank you for all your help.

[2016-11-07 16:44] Grafluxe commented on #128
@michaelvial, the URI looks to be working fine, but the 'ClickTracking' data from the wrapper is not be pushed into the 'videoClickTrackingURLTemplates' array as expected.

Example
(note, I removed the CDATA syntax for brevity)

XML 1:
[code]

XML 2:
[code]

XML 3:
[code]

Output:
[code]

[2016-11-07 22:05] rgulrajani opened #130 "Impression urls getting fired before actual ad start"
Hi Michael,

I was looking at the tracker code and noticed that the impression URLs are dispatched when load is called on the VASTTracker.
As per IAB standards for video ads, the impressions should get dispatched after the ad has started playing.
Also, when the ads fails, the impression is getting logged in case of a VPAID ad.

Do you think this is an issue and if yes, will be addressed in the vas

[2016-11-07 22:46] michaelvial commented on #130
Hi @rgulrajani

1) According to [VAST 3.0](https://www.iab.com/wp-content/uploads/2015/06/VASTv3_0.pdf#page=18) spec, the impression URLs have to been called when the 1st frame of the ad is displayed. In the API documentation, we call `VASTTracker.load()`  when we receive the videoTag `canPlay` event.
The [MDN doc](https://developer.mozilla.org/en/docs/Web/Guide/Events/Media_events) says about `ca

[2016-11-08 14:06] michaelvial commented on #128
@Grafluxe I've updated #129 and added some unit test about your scenario (Wrapper -> wrapper > inline ), but I wasn't able te reproduce your bug.

Can you put the 3 VAST XML file you use for this bug on a GIST so I can reproduce it?

[2016-11-08 15:04] rgulrajani commented on #130
Hi @michaelvial

Thanks for your response.

1. Though I understand when you say that the VAST 3.0 spec says that the impression should be fired when the first frame of the ad is played. But the canPlay event, only mentions that the ad can be played. It does not imply that the ad has started playing and the first frame is played.

I would imagine that the impression urls get dispatched after the ad

[2016-11-08 19:52] michaelvial commented on #130
If you consider you'll only set up the `VASTTracker` when the user has specificaly asked to play the video, the `canPlay` will happen at the 1st playing frames of the video. You shouldn't set up the `VASTTracker` if your player is not in a state of playing the video. Still, this is just an example for the documentation, you are free to call the `VASTTracker.load()` method whenever you feel it's th

[2016-11-08 20:31] Grafluxe commented on #128
After more testing, we see that the issue occurs when a second creative node exists in the wrapper.
https://gist.github.com/Grafluxe/d159836c39339303bc340e547c37e010

[2016-11-09 14:49] michaelvial commented on #128
I've found the problem, thanks to your GIST. Can you pull #129 last commit and tell me if it works?

[2016-11-09 21:29] Grafluxe commented on #128
You're welcome and thank you. It works as expected now.
Will you be merging soon so that I can npm update?

[2016-11-09 21:50] michaelvial commented on #128
We'll try to do a release tomorrow.

[2016-11-09 22:31] Grafluxe commented on #128
Great. Thanks again.

[2016-11-10 14:43] #128 closed

[2016-11-11 16:16] Grafluxe opened #131 "VideoClicks child-node attributes are missing"
The ad object returned does not include the expected VideoClicks child-node attributes. Note, I'm testing for the ClickThrough id attribute.

[code]

See [IAB spec](https://www.iab.com/wp-content/uploads/2015/06/VASTv3_0.pdf), page 67

[2016-11-14 21:30] Grafluxe opened #132 "Wrapper CustomClick URIs are being ignored."
The ad objects 'videoCustomClickURLTemplates' property is ignoring wrapper nodes.

[2016-11-14 23:14] rgulrajani commented on #130
@michaelvial
Thanks for your reply.
Was able to sort this out with the load() method on the VAST tracker.

[2016-11-16 15:26] michaelvial commented on #132
Hi @Grafluxe,

You're right, the parser didn't bundle `<CustomClicks>` URLS as it should. I've created PR #133 to fix it.

[2016-11-16 16:20] michaelvial commented on #131
I don't think the parser can return the `<ClickThrough>` id attributes in the current architecture. Right now, only the URLs are returned. If we want to get there id attributes as well, we'll need to change `videoClickTrackingURLTemplates` structure to something like:

[code]
And this is an important breaking change. If we're going to do it, it'll be in the future v2. By curiosity, why do you need

[2016-11-16 16:21] #130 closed

[2016-11-21 14:22] Grafluxe commented on #132
Sounds good. Thanks.
Do you have a planned release date?

[2016-11-21 14:29] michaelvial commented on #132
In the next few days I think, I've to fix another bug as well.

[2016-11-25 09:45] #132 closed

[2016-11-28 15:18] Grafluxe commented on #131
It makes perfect sense to be in a v2 release. Thanks.

The reason we need access to the id attribute, is because we want our logic to fully support the IAB spec. For now we have written some override logic to handle it.

[2016-12-09 19:50] Grafluxe opened #139 "Ad parse failure on URI encoded query strings"
Encoded query strings (in the media URI) are cause the ad parse logic to fail.

[code]

Note: using decodeURIComponent solves the issue.

[2016-12-12 22:56] duilio commented on #98
Seems like a draft was released:

https://github.com/InteractiveAdvertisingBureau/VAST_UseCases/blob/master/vast4_draft.xsd

I don't see the official release for vast3 xsd so I don't know if it will be released anything better than this. :-/

[2016-12-13 15:28] giannoudak opened #141 "DMVAST usage example"
Hello, and congruts for this tool!

I'm trying a create a player using the DMVAST client, but i can't clearly figure out how to use it
Are there any more analytical examples on this.

I am using the flow bellow:
i am requesting a vast code as bellow, parse the video URL, create a Vast tracker and then create a video element dynamically with the video url

[code]

After that, how do i call any trac

[2016-12-14 10:23] michaelvial commented on #139
Hi @Grafluxe

I was unable to reproduce the bug. I've update the `sample.xml` with your mediaFile, but it gets correctly parsed: See #143

[2016-12-14 15:45] #86 closed

[2016-12-14 17:13] michaelvial commented on #141
Hi @giannoudak

I agree with you, we're clearly missing some documentation about how to use the VAST client. This lib just provides a VAST parser and a tracker. However, you have to do the integration with the video player. You have to provide some info to the tracker so it can ping the tracking URLs. I've done a quick JsBin with a skippable linear ad to show you the basic:

https://jsbin.com/wayu

[2016-12-14 20:47] giannoudak commented on #141
Hi @michaelvial
Thanks for the demo. Its really very helpfull!
The VAST tag i was checking had a wrong duration tag set and as a result, the tracking events were firing earlier.

Actually, this tool is only for VAST or it can also work with VPAID tags?

thanks again a lot

[2016-12-14 21:52] michaelvial commented on #141
Only for VAST

[2016-12-14 22:28] flasheye opened #145 "NonLinear missing maintainAspectRatio and scalable"
Hi!
Unfortunately, I do not find "scalable" and "maintainAspectRatio" at "VASTParser.parseNonLinear"
https://www.iab.net/media/file/VAST-2_0-FINAL.pdf (13/16)

Its not required but it would be fine :)
i think this is missing too:
expandedWidth
expandedHeight

BR,
Christian

[2016-12-14 22:51] flasheye opened #146 ""minSuggestedDuration" in seconds (as duration)"
Hi,
i like this tool so much :) Thanks for the good work! 👍

With nonLinear Ads you return the duration: "00:00:30" and with linearAds: "30".
Maybe something like this would be fine:

nonlinearAd.minSuggestedDuration = this.parseDuration(nonlinearResource.getAttribute("minSuggestedDuration"));

Thanks :)

[2016-12-15 08:28] michaelvial commented on #146
Will be fixed in #147

[2016-12-15 08:28] michaelvial commented on #145
Will be fixed in #147

[2016-12-15 10:00] dharFr commented on #141
@michaelvial What about adding the link to your jsbin to the README, so that everyone can benefit from it?

[2016-12-15 10:05] michaelvial commented on #141
I want to clean it first ^^

[2016-12-15 18:08] apptv opened #149 "Passing macros to the tracker and VASTClient"
First of all thank you very much for your excellent tool.

Because my ad player lives in an iframe, i need to pass the referrer and domain inside the get and track URLs as parameters.

I have seen that i can pass variables to the function trackURLs, but this would mean, that I would clutter my code for all tracking events passing in the right variables.

Maybe there is a solution where an variable

[2016-12-19 20:07] Grafluxe commented on #139
Thanks for testing it. When running through a player, I get the error `Uncaught TypeError: Cannot read property 'slice' of null`

See vast-client/dist/parser.js :184

[2016-12-20 21:01] flasheye opened #150 "(Feature) vastTracker.click(URL) - hand over URL"
Hi,
when working with VPAID it would be fine to call the
**vastTracker.click()**
with an own URL:
**vastTracker.click(url);**

Thanks for all the work :)

[2016-12-20 22:46] flasheye commented on #141
@giannoudak i use it with VPAID too. not so difficult, but you have to call the tracking Events manually.

The important thing is to call the duration, because the VAST dont know the duration from VPAID:
vastTracker.setDuration(xxx);
Then the tracking events wont firing earlier.

When no duration is set, but only firstQuartile, mid or third you can call:
vastTracker.track("firstQuartile", true);

[2016-12-21 14:43] flasheye opened #151 "Duration Error when no ":""
Hi,
i know in the specs there has to be HH:MM:SS but i know people who write "<Duration>120</Duration>".
Then the player freeze with no Duration.

In "VASTParser.parseDuration" i write:
if (!(durationString != null)) {
      return -1;
}
**if (durationString.indexOf(":") < 0) {
  return durationString;
}**

BR

[2017-01-05 13:15] rajatkusumwal opened #152 "AdParameters not being parsed in case of a nonlinearAd VAST xml tag."
[code]
The AdParameters is not being parsed in case of a NonLinear Ad.

[2017-01-06 13:07] michaelvial commented on #152
Done in PR #153

[2017-01-06 13:07] #152 closed

[2017-01-13 16:50] giannoudak opened #154 "Request for AltText for StaticResource companion ad"
Hello and thanks for this great tool!

We noticed that the parser doesn't parse altText attribute if a staticresource is being served
in file vast-client-js/src/companionad.coffee the VASTCompanionAd class doen't define an alttext property
[code]
Is this a bug? or is there any other way we can fetch the alttext property?
Is this going to be developed?

thanks a lot in advance

[2017-01-16 14:32] vagelkara commented on #154
I found a solution that could be help someone:

Just add this, at companionad.coffee, so you declare a new variable:
[code]

And change the parser.coffee as below:
[code]
@giannoudak

[2017-01-16 15:38] michaelvial commented on #154
Sorry for the late reply @giannoudak, we've been quite busy lately and we didn't had time to adress the reported issues.

@vagelkara fix works well, and if one of you guys can do a PR that would be perfect (don't forget to update the unit test, it's pretty straight forward).

[2017-01-17 14:31] #154 closed

[2017-01-19 15:26] samb90 opened #156 "Error cannot resolve module `fs`"
Keep seeing the error `Error cannot resolve module 'fs'` when trying to import `vast-client-js` as follows `var vast = require('vast-client');`.

[2017-01-19 15:42] michaelvial commented on #156
Well spotted, the [URL handler for Node](https://github.com/dailymotion/vast-client-js/blob/master/src/urlhandlers/node.coffee) requires `fs`, `http` and `url` packages, but theses are not defined in `package.json`.

Definitely a bug.

[2017-01-19 16:07] samb90 commented on #156
We are trying to run this on the client in a chromium browser.

Does this library require NodeJs?

Sent from my iPhone

[2017-01-19 16:37] michaelvial commented on #156
No, you can use it on a browser. But when you're loading the lib with`require`, the NodeJs URLhandler is included. And it needs `fs`, `http` and `url` packages to run, even if you will never use it browser-side.

In the meantime, you can use the bundle file `vast-client.js`. This should work

[2017-03-15 13:32] StevanCakic opened #158 "[Question]Active tracking for nonlinear/companion clickthrough"
Hi,

I use this very nice parser for my project and currently, I can't  find a solution to active tracking clickthrough for nonlinear or companion ads. For example, for linear this:
ad - container for linear ad
tracker - new DMVAST.tracker(adv.ad, adv.creative)
           `

            //Set clickthrough on a linear ad.

            ad.addEventListener('click', function() {

                // Do

[2017-03-16 09:54] apptv commented on #149
Thanks for looking into it.
I found a solution for me using VASTParser.addURLTemplateFilter

[2017-03-16 09:54] #149 closed

[2017-04-13 14:04] michaelvial commented on #158
Hi @StevanCakic,

Sorry for the really late reply. I've update the VAST parser/tracker to allow the use of `click()` for non-linear ads. You'll have to pass the selected `<companion>`/`<nonlinear>` element in order to make it work.

[code]

Hope it'll fix your issue.

[2017-04-14 16:17] #158 closed

[2017-04-14 16:17] #151 closed

[2017-04-14 16:17] #146 closed

[2017-04-14 16:17] #145 closed

[2017-04-21 15:43] apptv opened #165 "Try to load VAST URL over HTTPS if location is HTTPS"
Thanks for this great library.

I would like to propose an improvement for the Ad Tag Waterfalling.

In case the Ad Player is integrated on a secure site and one of the Ad Tags in the waterfall is pointing to a non secure site, the complete process is stopped.

[code]

Because most AdServes support http and https, the Handler should try to fix the configuration error and load the URL via https ins

[2017-04-24 12:38] StevanCakic opened #166 "[Question] VPAID and this VAST parser"
Hi,

can someone help me with VPAID? How can I use VPAID with this parser? Does anyone have any sample code for that? Any links?

Thanks

[2017-04-24 14:58] michaelvial commented on #165
@apptv

You can use a custom urlHandler as describe [in the doc](https://github.com/dailymotion/vast-client-js/blob/master/docs/api.md#get-url--options--done-)

Here is a quick example:
[code]

Hope it helps

[2017-04-24 15:20] michaelvial commented on #166
You gonna have to code the VPAID part, as this lib only provide a VAST parser and tracker. Quick example:
[code]
VASTTracker `track()` method can be found [here](https://github.com/dailymotion/vast-client-js/blob/master/src/tracker.coffee#L152) if you wanna see how it works.
You can find a table about VAST/VPAID events matching in the [VPAID2.0 spec](http://www.iab.com/wp-content/uploads/2015/06/V

[2017-04-25 09:04] apptv commented on #165
@michaelvial
Thanks a lot for the quick reply and solution. Obviously I missed this part in the docs.

Just to mention it. If the Ad Player lives in a friendly iFrame.
`<iframe src='about:blank'></iframe>`
window.location.protocol returns 'about', so the check for https will always fail.

[2017-04-25 09:04] #165 closed

[2017-04-25 09:06] michaelvial commented on #165
@apptv If you find a good solution for this `https` try, don't hesitate to do a PR :)

[2017-04-25 10:35] apptv commented on #165
@michaelvial
Sorry, but I am not used to coffee script.

This is my solution in javascript.

[code]

[2017-04-25 11:12] StevanCakic commented on #166
@michaelvial Thanks a lot!

[2017-04-25 21:06] nfepl opened #167 "Is VAST 2.0 supported?"
Hi,

I'm testing this module with a VAST 2.0 url, but the method `DMVAST.client.get` it doesn't returns any object or error.
I've seen that there are some commits about VAST 2.0, so I was wondering if there's something wrong with what I'm doing.

The VAST url that was using is `http://ads.us.e-planning.net/eb/4/1cb7f/Home/test_vast_vp1?o=v&ma=1&vv=2`

[2017-04-26 16:22] michaelvial commented on #167
Hi @nfepl ,

Just did a quick integration with your VAST everything seems to work:
https://jsbin.com/fiyemow/2/edit?html,js,console,output

[2017-04-26 16:35] nfepl commented on #167
Hi @michaelvial,

Indeed it was working, after seeing your demo (it was pretty much what I was doing) I've double checked the js we were including and notice that it wasn't the latest.
Upon upgrading it, the response was correctly parsed.

Thank you very much for taking the time to respond and making that demo!

[2017-04-27 06:55] #167 closed

[2017-04-27 06:55] #166 closed

[2017-05-03 15:59] giannoudak opened #168 "conflict with global requirejs"
Hi and thanks for this great tool!

we noticed an issue when having included the vast-client library in a site where already exists the requirejs lib. The test case includes that the requirejs is loaded before the vast-client.js
in case the requirejs exists on the client site we noticed in the bellow code (which is the first line of the vast-client.js)
[code]
that the DMVAST is set by define and n

[2017-05-04 15:08] michaelvial commented on #168
Hi @giannoudak,

I don't know a lot about `requireJs`, but I think you can load the VastClient as a module using `require.config()` :
[code]
[Js fiddle here](https://jsfiddle.net/michaelvial/gmv4ddz4/)

This should work with the `/node_modules` VastClient file too

[2017-05-17 18:15] StevanCakic opened #169 "[Question]Which Linear Ad to play"
Hi,

I have some questions, and these questions are not about parser, it's a logical decisions, how you decide is linear <Ad> is preroll, postroll or midroll? Do you use <Ad> id attribute for that? As I saw from documentation this attribute isn't required, what you do when id isn't provided and maybe that id can't be informative, for example, if id="1" that is not so informative but if id="preroll

[2017-06-14 16:02] martinstender opened #174 "Vast 2.0 with 'skip' event in Extensions > CustomTracking"
Hi all

Unfortunately, we are getting Vast 2.0 files from our ad-network and since 'skip' is not a part of Vast 2.0, they put that event in Extensions:
[code]

Will I need to write some woodoo myself or is there anyway I can get vast-client to understand this special case?

Many thanks in advance :-)
Martin

[2017-06-14 16:25] michaelvial commented on #174
I'm afraid it wont retrieve it correctly. The `<extension>` tag will be parsed but won't return all the info. I've run a test and I got:

[code]
Here is the function that parse the `<extensions>` tag : https://github.com/dailymotion/vast-client-js/blob/master/src/parser.coffee#L302

[2017-06-14 19:11] martinstender commented on #174
Of course - and then I'll just roll my own tracking function. It was the parsing I was afraid I had to do myself... :-)

Many thanks - a big help!

[2017-06-14 20:43] #174 closed

[2017-07-03 08:48] #79 closed

[2017-07-17 09:18] dsilhavy opened #180 "Error: Protocol "https:" not supported. Expected "http:""
Hi,
I am trying to use the library as a node module, but it looks like https is not supported. Do I need to plug in my own HTTP handler to deal with https?
The error stack:
`Error: Protocol "https:" not supported. Expected "http:"
 at new ClientRequest (_http_client.js:55:11)
    at Object.exports.request (http.js:31:10)
    at Object.exports.get (http.js:35:21)
    at Function.NodeURLHandler.get

[2017-07-17 09:33] michaelvial commented on #180
Hi @dsilhavy,
I confirm, the `Node.js` URLHandler only support `http` protocole.
You gonna have to use your own URLHandler to deal with both cases. Or, if you feel confident, you can make a PR to improve the default URLHandler.

[2017-07-17 09:57] dsilhavy commented on #180
@michaelvial Thanks for the quick response. For now I solved the problem by using my own URLHandler. For everyone who encounters the same problem my source code:
[code]

[2017-07-17 10:00] michaelvial commented on #180
Thx for the example. I'll let this issue open until we update the Node URLHandler.

[2017-07-17 14:45] #180 closed

[2017-07-25 12:36] vlkosinov opened #185 "v2.x plans and goals"
Hi there! I noticed that you have some work in v2.x branch. Do you have tasks list for new release or something like?

We are using this module in our apps at @SPBTV. So we would be happy to help with the development of new features.

[2017-08-03 10:02] michaelvial commented on #185
Hi @vlkosinov,

Sorry for the late reply. Yeah, we've created a `v2` branch, we're actually using it on dailymotion.com. At the moment, it's quite similar to the `master` one, I think the only breaking change is that the parser always returns an array even when VAST file is empty.

Last year, our ad integration was relying on one sole VPAID manager. The VAST Client was barely used at all. Things c

[2017-08-04 16:30] ScottyMJacobson opened #186 "Extensions subtrees get concatenated/garbled"
The VAST 3.0 spec isn't super descriptive on how Extensions should be parsed, but it seems to me that they should be able to become their own nested XML trees. In the example below, the vast client gives me back an `extensions` array, whose first element is an `extension`, but the `name` property of this extension becomes the name of the first tag and the `value` becomes some amalgam (with newline

[2017-08-21 23:48] chrishoage commented on #156
This happens in webpack.

[2017-08-22 16:24] dharFr commented on #156
In `package.json`, the [`"main"`](https://github.com/dailymotion/vast-client-js/blob/6d1826fd1a274457ab86a90344eb677f1d0bf52b/package.json#L27) field should probably head to `"vast-client.js"` (bundled version) instead of `"dist/index.js"` (root module).

I'm not sure about the proper way to handle this in `pacakge.json`. I feel like both paths should be provided in the `package.json` so anyone ca

[2017-08-22 16:27] dharFr commented on #156
According to [webpack documentation](https://webpack.js.org/guides/author-libraries/#final-steps), the proper way in probably something like :
[code]

[2017-09-07 09:21] #156 closed

[2017-09-07 09:36] michaelvial commented on #139
Seems there is no issue with URI encoded query strings.

[2017-09-07 09:36] #139 closed

[2017-09-07 09:38] michaelvial commented on #186
Yes this is something we need to rework

[2017-09-07 09:53] michaelvial commented on #169
Sorry, really late reply, you probably have found an answer about that but anyway, that might help someone.

The VAST doesn't contain any information about its position in the in-stream timeline (`preroll`/ `midroll` / `postroll`). There is another XML based format named VMAP that does that : https://www.iab.com/guidelines/digital-video-multiple-ad-playlist-vmap-1-0-1/

If the VAST is returned by

[2017-09-07 09:53] #169 closed

[2017-09-07 09:53] #168 closed

[2017-10-09 09:15] BenBao93 opened #190 "Invoke firstQuartile, midpoint etc for VPAID"
Hi,

when a VAST contains a VPAID creative tracking is currently a bit difficult with the tracker. As far as I see the VPAID specs have no event/method to query the actual playback progress but will rather just dispatch VAST events to the player. Given that it is not possible to set the progress of the video correctly in the tracker.

A workaround would be to take the time from the XML and then ca

[2017-10-09 14:19] michaelvial commented on #190
Well, the best we can do is to rely on  the VPAID events (as specified in the [VPAID 2 spec page 15](https://www.iab.com/wp-content/uploads/2015/06/VPAID_2_0_Final_04-10-2012.pdf#page=15)) You have to subscribe to the VPAID events and manually call the VAST `track` method. Quick example:
[code]

[2017-10-09 14:28] BenBao93 commented on #190
Got it, that is actually exactly what I was looking for! The track function isn't in the docs for the tracker and I must have missed it while going through the code. Thanks!

[2017-10-09 14:28] #190 closed

[2018-01-24 18:52] Knotschi opened #193 "callback of DMVAST.parser.load is called with params in wrong order"
The documentation says:
[code]

But in the code the callback is called in opposite order: [`cb(error, response)`](https://github.com/dailymotion/vast-client-js/blob/master/src/parser.coffee#L106)

[even the test is using the order of first error than response:](https://github.com/dailymotion/vast-client-js/blob/master/test/parser.coffee#L547-L549)
[code]

[For DMVAST.parser.parse on the other side

[2018-01-30 18:55] ScottyMJacobson opened #194 "'clickthrough' event only triggered on some tracker.click() calls"
I've noticed that the `clickthrough` event doesn't always fire

If I had to guess, it's a matter of this extra indentation in the `click` method (`tracker.coffee`):

[code]

But since this expects the 'clickthroughURL' variable to be populated, it's not totally clear whether this event should actually be fired when there are only clickTracking URLs,

For my use case, I need the tracker instance to

[2018-02-06 00:14] Knotschi opened #195 "callback of DMVAST.parser.load is called with neither a response nor an error"
The documentation says:

* `Function` *done* – Method to be called once the VAST document is parsed. When at least 1 valid `<inline>` has been found, the 1st parameter will be an array of [`VASTAd`](https://github.com/dailymotion/vast-client-js/tree/master/src/ad.coffee) instances. Hoverwise, in case of no ads, it will be `null`, and an error as a 2nd parameter is provided.

But if the xml passed

[2018-02-07 09:15] helven opened #196 "Has anyone successfully get VPAID to work?"
I am working on making my video player to support VPAID. This is the VPAID tag XML I'm working on
https://ads.stickyadstv.com/vast/vpaid-adapter/5590338

This is what I got so far.  I have no idea how do it initiates the ad by calling initAd() as mentioned in IAB VPAID document thus nothing is happening to my video player.

url is the javascript link i extracted from the XML
[code]
Any clue? What

[2018-02-07 13:43] michaelvial commented on #196
Hi @helven
The iAB Vpaid specification as some examples on how to integrate a VPAID ad in javascript:
https://www.iab.com/wp-content/uploads/2015/06/VPAID_2_0_Final_04-10-2012.pdf#page=48

[2018-02-07 13:48] michaelvial commented on #195
Thanks @Knotschi we will investiate that.

[2018-02-07 13:58] michaelvial commented on #194
Hi @ScottyMJacobson

Thanks for reporting the indentation issue . About the `clickthrough` event, do you do something in particular when you receive this event without a url?

[2018-02-07 14:01] michaelvial commented on #193
Thanks for spotting this typo @Knotschi

[2018-02-07 16:53] ScottyMJacobson commented on #194
Nope - for my use case I'm just adding a handler that doesn't take in any arguments for any time a `clickthrough` event is fired from the tracker

[2018-02-08 04:36] helven commented on #196
Hi @michaelvial
Thanks for the link. I am coming from creating a video player that is able to parse a  javascript VPAID ad
I actually coming from page 47, that's how I get my VPAIDCreative variable. Base on my understanding, the example afterwards is about Ad Implementation, which is the skeleton on how an VPAID ad should be **implemented** than being **used**

I notice there is this function that

[2018-02-09 10:35] #194 closed

[2018-02-09 10:51] michaelvial commented on #196
Oh, you're right, there is no example on how to use vpaid.

You can find a schema on how to init a vpaid here: https://www.iab.com/wp-content/uploads/2015/06/VPAID_2_0_Final_04-10-2012.pdf#page=17.

In your example, you need to call `VPAIDCreative.handshakeVersion()` before `VPAIDCreative.initAd()`. Also,`initAd` requires some parameters.

[2018-02-22 09:49] eliamaino-fp commented on #193
Hi @Knotschi, we corrected the documentation in https://github.com/dailymotion/vast-client-js/pull/197. About the twisted order of the callback parameters in `DMVAST.parser.parse`, we will try to standardize the pattern in the next release.

[2018-02-22 09:49] #193 closed

[2018-02-28 11:01] eliamaino-fp commented on #195
Solved in https://github.com/dailymotion/vast-client-js/pull/198

[2018-02-28 11:01] #195 closed

[2018-03-16 00:48] mseeley opened #204 "Persistent storage handling"
Hello Dailymotion 👋 . Our application imports the vast-client lib. Thank you very much for sharing it.

I have several observations I would appreciate your feedback on.

1. `VASTUtil.storage` requires `localStorage` or `sessionStorage`. We run on embedded devices. It's not unusual for devices to have experimental `localStorage` implementations. Have you considered allowing injection of different s

[2018-03-19 10:17] eliamaino-fp commented on #204
Hey @mseeley thanks for these suggestions. I'll go in order:

1.  We never had to deal with embedded `localStorage` implementations for the moment. I agree that it could be a good idea to provide a `storage` interface to allow to inject a custom implementation.
2. Yes, the current implementation is not the safest in terms of naming. We'll take it in consideration
3. Totally agree :)

Anyway we're

[2018-04-16 12:37] #31 closed

[2018-04-16 12:38] #113 closed

[2018-07-20 08:08] eliamaino-fp commented on #204
Custom storage support is now available from `2.0` release, see https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-client.md#storage-storage

[2018-07-20 08:08] #204 closed

[2018-07-20 08:16] eliamaino-fp commented on #185
Version `2.0` got finally released. See: https://github.com/dailymotion/vast-client-js/releases/tag/2.0.0

[2018-07-20 08:16] #185 closed

[2018-07-20 08:17] eliamaino-fp commented on #94
AdPods support is now available in the `2.0` version of the library: https://github.com/dailymotion/vast-client-js/releases/tag/2.0.0

[2018-07-20 08:17] #94 closed

[2018-07-20 08:20] eliamaino-fp commented on #141
https://github.com/dailymotion/vast-client-js/releases/tag/2.0.0 Introduced a completely reworked documentation. Feel free to suggest any improvement if some parts of it are still not clear enough.

[2018-07-20 08:20] #141 closed

[2018-07-20 14:39] andreyantipov opened #233 "node engine node restricted only for specific version 8.9.4"
[code]
should be:
[code]

shell output:
[code]

[code]

[2018-07-23 07:00] penji opened #235 "When parsing XML of VAST inline ads, 'undefined' wrapper URL requested."
vast client 2.0.0

new VASTParser()
-> this.parseVAST(xml, options)
-> this.parse(xml, options)
-> this.resolveAds(ads, { resolveAll, wrapperDepth, originalUrl **--> undefined** })
-> this.resolveWrappers(ad, wrapperDepth,  originalUrl **--> undefined**);
-> this.fetchVAST(ad.nextWrapperURL) **--> 'undefined' requsted.**

[2018-07-23 08:51] eliamaino-fp commented on #233
Hey @andreyantipov thanks for spotting this (I don't use yarn very often and I never ran into this issue).

As stated here, this is the right behaviour of yarn when the node version doesn't match https://github.com/yarnpkg/yarn/issues/6028.

We can definitely be more flexible about the engine version 👍

[2018-07-23 09:13] eliamaino-fp commented on #235
Hey @penji can you provide us an example of the `VAST` document which is causing the issue? And maybe a more detailed description of the problem?

For what I understood you're saying that when directly parsing a `VAST` xml which contains some wrappers, since we don't have an `originalUrl` the wrapper are resolved by calling `undefined` as url?

In `resolveWrappers` method `ad.nextWrapperUrl` gets

[2018-07-23 13:56] jakub-g opened #236 "package.json in 2.0.0"
In 2.0.0 `main` field in `package.json` points to `src/index.js`
https://github.com/dailymotion/vast-client-js/blob/master/package.json#L25
...which is an ES module
https://github.com/dailymotion/vast-client-js/blob/master/src/index.js
...which means AFAIU that node versions that do not support ES modules (seems like no version of node supports it now, except 10.x behind the flag?) will fail to lo

[2018-07-23 14:20] eliamaino-fp commented on #236
I agree, so you suggest to have something like this?
[code]

[2018-07-23 15:20] jakub-g commented on #236
I think this should be fine:
[code]
"main" : "vast-client.js",
[code]
"main" : "vast-client-node.js",
"module" : "src/index.js",
"browser" : "vast-client.js"
[code]

[2018-07-24 09:07] penji commented on #235
I wrote a test page (https://penji.github.io/publicPages/vast-client-test.html) and found that the error only appears in HTTP environment.
In the same page served in HTTPS environment, the error not appears.
I tested on Google Chrome 67.0.3396.99.

[2018-07-24 09:49] eliamaino-fp commented on #235
Thanks @penji, I spot the issue: when we don't have a wrapper url we resolve with the original ad but don't end the Promise execution with a return statement.

[code]
Should become
[code]

I'll make the fix and reference this issue in the PR.

[2018-07-24 09:54] penji commented on #235
I was writing same contents. The error looks like unexpected behavior.
Have a nice day!

[2018-07-26 08:24] eliamaino-fp commented on #236
Fixed in https://github.com/dailymotion/vast-client-js/pull/237
And released in [`v2.0.1`](https://github.com/dailymotion/vast-client-js/releases/tag/2.0.1)

[2018-07-26 08:24] #236 closed

[2018-07-30 20:51] Grafluxe opened #240 "The options.response property is no longer available"
Hello,
In `v1.x.x` of your codebase, we were able to create inline wrapper tags as such:
[code]
As of `v2.0.0`, how can this be done?

Thanks

[2018-07-31 04:24] S4n60w3n opened #241 "Not a constructor"
Version 2.0.1 from [npm](https://www.npmjs.com/package/vast-client).

[code]

From VastParser [documentation](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md#example).

Thows an error

Same with VastClient...

Can you please make sure that it works for you, from clean installation?

[2018-07-31 11:45] eliamaino-fp commented on #240
Hi @Grafluxe, in the `v2.0.0` we tried to differentiate a little bit more the behaviour of `VASTClient` and `VASTParser`, in order to have a clearer usage of the two.

As `1.x` documentation says about the parameter :
"`String` response – A VAST XML document. When response is provided, no Ajax request is made and thus the url parameter is ignored."

You should now use the `parseVAST` method provid

[2018-07-31 11:47] eliamaino-fp commented on #241
Hi @S4n60w3n, can you provide us some more info about your environment and how you import the library?

Are you doing `import { VASTParser } from 'vast-client'`?

[2018-07-31 13:38] alexpashkov opened #242 "TypeScript definitions"
Hello, there are TypeScript definitions for 1.7 version, will definitions for 2.x be available in the nearest future?

[2018-07-31 14:28] eliamaino-fp commented on #242
Hi @alexpashkov, if you refer to this https://www.npmjs.com/package/@types/vast-client, the definitions were not directly provided by maintainers of the library.

Currently we don't have plans to provide updated definitions in the nearest future (since at dailymotion we don't use typescript, this is not directly a priority for us 😃).

If you want to update the definitions for the `2.x` version of

[2018-08-01 05:37] S4n60w3n commented on #241
@eliamaino-fp Yes I do, the parsing went wrong.... I will try to create minimal repo

[2018-08-01 06:33] S4n60w3n commented on #241
I have prepared [minimal repo](https://github.com/S4n60w3n/vastClient/tree/master) . The issue is little bit different, but still similar enough.
`...VASTParser is not a constructor`

[2018-08-01 08:05] eliamaino-fp commented on #241
Thanks for the repo, I'll take a look into it as soon as possible.

[2018-08-01 10:07] eliamaino-fp commented on #241
So it looks like webpack is not using the `module` entrypoint in `package.json` when `browser` and `main` entrypoints are provided too (see https://github.com/webpack/webpack/issues/4674)

According to the thread linked above this PR should fix the issue https://github.com/dailymotion/vast-client-js/pull/243

@S4n60w3n could you try to test that on your side too?

[2018-08-01 15:11] Grafluxe commented on #240
Works as expected. Thanks for the quick response and clear details on how to migrate.

[2018-08-02 05:03] S4n60w3n commented on #241
@eliamaino-fp  Seems to be working and minimal repo. Thanks

[2018-08-02 13:10] eliamaino-fp commented on #241
Issue fixed in https://github.com/dailymotion/vast-client-js/releases/tag/v2.0.2

[2018-08-02 13:10] #241 closed

[2018-08-02 13:10] eliamaino-fp commented on #240
Perfect, I'll close the issue then :)

[2018-08-02 13:10] #240 closed

[2018-08-03 02:53] S4n60w3n commented on #241
@eliamaino-fp Glad, I could help! Thanks for quick issue fix!

[2018-08-09 17:09] CarlosHdez opened #246 "Creatives in wrapper get ignored"
I'm trying to parse a VAST document that has a companion creative and a wrapped one, but whenever I  use `VASTParser` I only get the data for the wrapped one.
It looks roughly like this.
[code]
Now my problem is that the wrapped XML does not have a companion so when the parser resolves, I only get the result of the wrapped ad but the companion is lost and I get no data on it.
Is this a proper bug

[2018-08-10 12:50] eliamaino-fp commented on #246
Hi @CarlosHdez, the parser should definitely keep all the creatives at any level.

Can you please provide us the real VAST document you're trying to parse? And if possible attach a small code snippet which shows how you're making the parsing call?

Thanks :)

[2018-09-19 15:00] jakub-g opened #249 "Add bundlephobia badge with lib size"
One of those:

https://badgen.net/#bundlephobia
https://flat.badgen.net/#bundlephobia
https://shields.io/#/examples/size

https://bundlephobia.com/result?p=vast-client
alternatively https://packagephobia.now.sh/result?p=vast-client

[2018-10-23 08:44] jtacon opened #251 "TrackingEvents in Companions"
Im working with XML files (VAST version 2) that companions have their own TrackingEvents, example:

      <Companion width="300" height="60">
       <HTMLResource>
        <![CDATA[<a href="https://www.example.com" target="_blank">HTML Sample</a>]]>
       </HTMLResource>
       <TrackingEvents>
        <Tracking event='creativeView'><![CDATA[https://example.com/1]]></Tracking>
        <Tracking e

[2018-11-02 02:24] PaulMaly opened #252 "Not working with any tags"
Hi, this library really looks like the best VAST library on npm.  And really strange that she doesn't work at all.

I tried to use it on about 10 VAST tags with the same result - errors on parsing.

Maybe, I'm doing something wrong?

[code]

Quite different errors occurring:

etc.

Also, I've used tags from 4 different platforms and without any success.

Can anyone help me, please?

[2018-11-02 09:43] alexpashkov opened #253 "Track methods throw exceptions"
Hello, sometimes tracking methods thow exeption, e.g:
[code]
For some ads it's ok, but not others.

[2018-11-07 12:59] kobawan commented on #253
@alexpashkov  Looks like one of the `Impression` urls is not of type String. Could you please share an example of the failing Vast?

[2018-11-07 13:15] eliamaino-fp commented on #252
Hey @PaulMaly I can't reproduce any of the listed errors with the [given VAST](https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=), the parsing works correctly using the snippet you provided and the [bundled ve

[2018-11-07 13:33] eliamaino-fp commented on #251
Hey @jtacon sorry for the late reply.

Yes once you correctly get your VAST parsed using [`VASTClient`](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-client.md) or [`VASTParser`](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md), you need to use the [`VASTTracker`](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tra

[2018-11-07 16:22] PaulMaly commented on #252
Hi! Thanks for the answer. Please, check this one:
https://out.pladform.ru/getVast?pl=115560&type=preroll&license=1&thematic=415&age=5&duration=0&target=smarttv&dl=____

[2018-11-08 09:05] kobawan commented on #252
Hello, this [vast](https://out.pladform.ru/getVast?pl=115560&type=preroll&license=1&thematic=415&age=5&duration=0&target=smarttv&dl=____) is empty. The parsing doesn't throw any error. Could you recommend another? Also which environment are you using to request the VAST? Are you using browser or node?

[2018-11-08 11:50] PaulMaly commented on #252
Hi, @kobawan ! Thanks for the answer! Actually, for me, this vast is not empty. Seems it has some restriction for the region. Sorry about that.

Can you check [this one ](https://an.yandex.ru/meta/322767?imp-id=1&charset=UTF-8&target-ref=http%3A%2F%2Fvintera.tv&rnd=123456789), please!

[2018-11-13 18:28] PaulMaly commented on #252
Seems all tags geo-restricted (((

The last interesting thing I found, this VAST:

[code]
parsing as empty `ads` array. Is in correct?

[2018-11-15 12:55] offnertho opened #254 "VASTTracker not triggering multiple tracking events"
I am using the VASTTracker for tracking of an linear ad.

More concrete I implemented the following code based on your example:
[code]

However, if I switch between mute/unmute, I do experience that the corresponding TrackingURL is not always requested. After debugging I found that sometimes the network request is not issued at all (i.e does not even appear in the network tab), when the same Track

[2018-11-16 13:47] jakub-g commented on #249
On top of that: https://github.com/siddharthkp/bundlesize to enforce size at PR time :)

[2018-11-19 16:29] eliamaino-fp commented on #254
Hey @offnertho thanks for opening this, we'll look into it ASAP :)

[2018-11-20 11:15] ddiukariev opened #256 "Load vast tag from XML string is not working in version 2"
Vast client versions below 2 allowed to specify either url to a vast tag or xml string (via options.response). Since version 2 this is no longer possible and it is not listed in breaking changes. Are there any plans on implementing this?

[2018-11-21 11:10] eliamaino-fp commented on #254
Are you sure you're passing a different value for the `muted` property every time you call `setMuted`? I mean, the track URLs are not called if there's no change in the muted status:
https://github.com/dailymotion/vast-client-js/blob/32efd4303e1b69ba78e7b29cf67743dc70cf9bed/src/vast_tracker.js#L188-L193

Anyway it's weird that it works by appending something to the tracking URL 🤔

[2018-11-21 11:15] eliamaino-fp commented on #256
Hi @ddiukariev , it's still possible to directly parse an XML by using the `VASTParser`, see https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md#parsevastvastxml-options

To make more clear the difference between the `VASTClient` and `VASTParser` we tried to push the first to be used mostly when requesting a sequence of VAST resources, while the second should be mainl

[2018-11-21 13:13] offnertho commented on #254
Yes, I always pass a different mute state. This is also reproducable with other state changes.

[2018-11-26 12:02] alexpashkov commented on #253
@kobawan here is the VAST:
[code]

[2018-11-26 14:46] kobawan commented on #253
@alexpashkov I tested with the VAST provided and wasn't able to reproduce the issue. You can check it [HERE](https://jsfiddle.net/wp1xvrs6/25/). Could you provide a code snippet?

[2018-11-28 16:21] jakub-g commented on #249
Hmm for some reason bundlephobia can't build `>=2.0.4`
https://bundlephobia.com/result?p=vast-client@2.0.3

it shows `BuildError`

[2018-11-28 16:51] eliamaino-fp commented on #249
Yes but weird, webpack bundle should use the `module` entry, that means that it should bundle this: https://github.com/dailymotion/vast-client-js/blob/master/dist/vast-client-module.min.js

And there's only one `export` statement (and it's at top level) 🤔

[2018-12-03 15:13] alexpashkov commented on #253
@kobawan, it appears that an exception is caused by a monkey-patched Array.prototype. In my case, there is a merge method on it, and it will become one of resolveURLs.

![screen shot 2018-12-03 at 5 12 24 pm](https://user-images.githubusercontent.com/19917423/49382263-abe82f00-f71e-11e8-917a-a0dfcb0c6e1e.png)

The treatment is simple,
the check on line 50 in src/util/util.js can be a bit more spec

[2018-12-03 15:55] kobawan commented on #253
@alexpashkov that is an odd behaviour of a VAST, but it doesn't hurt to add the check. Please submit a PR, and it will be reviewed :)

[2018-12-07 17:56] MikeSperone commented on #98
Any updates on plans to add VAST 4.0 support?  The documentation still only says it's compatible up to 3.0

[2018-12-11 10:38] eliamaino-fp commented on #98
Hi @MikeSperone it's still in our to-do list but unfortunately not in the roadmap yet. We'd like to start the development as soon as possible (plus 4.1 spec went out in the meantime).

I'll keep you all posted in this thread :)

[2018-12-28 09:32] kobawan commented on #242
Hi @alexpashkov, I created a PR with types for vast-client version 2.1. You can review it here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31726

[2018-12-29 02:19] Kasra-j commented on #196
following the same flow
[code]
the "getVPAIDAd" function does exist inside the iframe, but `iframe.contentWindow['getVPAIDAd']` returns "undefined" for me!

@briganti or anyone else have any idea why?

[2019-01-03 10:41] eliamaino-fp commented on #242
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31726 got merged. I'll close the issue

[2019-01-03 10:41] #242 closed

[2019-01-03 10:43] eliamaino-fp commented on #253
Fixed in https://github.com/dailymotion/vast-client-js/pull/257

Released in https://github.com/dailymotion/vast-client-js/releases/tag/2.1.1

[2019-01-03 10:43] #253 closed

[2019-01-09 14:31] clementFrancon opened #264 "Vast tracker tests refactor"
The actual vast tracker tests use the vast parser to parse the VAST file "wrapper-a.xml". It would be better to have a mockup of a parsed json to use it instead and then only test the features related to vast tracker without caring about other parts of the project.

[2019-01-17 10:46] clementFrancon commented on #186
Hello,
FYI, this issue have been fixed and is currently on a PR : https://github.com/dailymotion/vast-client-js/pull/267

[2019-01-22 13:14] sndpl commented on #98
@eliamaino-fp do you accept partial VAST 4 support? for a project we currently only use the parser/tracker and have implemented universalId, conditionalAd, ViewableImpression, category elements. So no client fixes for VAST 4.

[2019-01-23 04:24] Paradam opened #269 "dist/vast-client.js misnamed xhr function"
We've discovered an issue with the compiled vast-client.js file where creating an XHR object at line 1687 which refers to an undefined function "_xhr2()"

Expected Result
`var _xhr2 = xhr();`
Ads are requested.

Actual Result
undefined is not a function and no ads play or are requested.

Tested using latest 2.2.0 from npm.

[2019-01-23 11:20] eliamaino-fp commented on #269
Hi @Paradam , thanks for spotting this. A fix is on the way and will be released soon https://github.com/dailymotion/vast-client-js/pull/270

[2019-01-23 13:45] eliamaino-fp commented on #269
Fix was released in https://github.com/dailymotion/vast-client-js/releases/tag/2.2.1, should be ok now. Please @Paradam let us know if you still encounter the bug.

[2019-01-23 23:08] Paradam commented on #269
@eliamaino-fp The update is working for us now.
Thanks.

[2019-01-23 23:08] #269 closed

[2019-01-30 17:29] eliamaino-fp opened #272 "Road to a 3.0 release"
Here's a personal list of changes/features/improvements I'd like to add to a future `3.0` release:

- VAST 4.0 support (and 4.1 actually)
   - See https://github.com/dailymotion/vast-client-js/issues/98
- New unit test structure and framework
   - See https://github.com/dailymotion/vast-client-js/issues/264
   - See https://github.com/dailymotion/vast-client-js/issues/278
- Return more information

[2019-02-13 09:42] kobawan opened #278 "Refactoring unit tests away from mocha. Jest VS Jasmine?"
Current tests are in Mocha, and they require third-party libraries. The syntax is also different from Jest and Jasmine. Based on this, we should migrate to another testing framework.

Top current testing frameworks are Jest and Jasmine. Which one would be better for this project?

Pros Jest:
* Parallel test execution
* Constant support and maintenance by Facebook

Pros Jasmine:
* Big community
* M

[2019-02-13 10:36] eliamaino-fp commented on #278
We can give a try to Jest 👍

[2019-02-13 12:41] kobawan commented on #278
My personal preference is Jest because of the speed, and it supports DOM testing (which is needed for testing XML documents)

[2019-02-21 09:00] eliamaino-fp commented on #278
Support for Jest added in https://github.com/dailymotion/vast-client-js/pull/279, going to be released as part of the 3.0 version of the library.

[2019-02-21 09:00] #278 closed

[2019-03-28 13:31] manny42 opened #281 "Skip deletes all tracking possibilities"
I am trying to track closing an ad after the skip button has been called.
The situation is we use a companionAd as an EndCard, thus we still need the user to click on a close button to dismiss it.

But in the tracker, this line cause the call to close tracking to not call the tracking urls.
Is this normal behavior? And if yes, why?

https://github.com/dailymotion/vast-client-js/blob/586620c7693ab7

[2019-03-28 16:48] kobawan commented on #281
Hello @manny42 !

It seems that this line is part of the legacy code and can be removed, since it is not being used on any other tracking events. Could you please create a PR to delete it?

[2019-03-29 08:32] manny42 commented on #281
Hey @kobawan

It seems like I don't have the right to push to the repo on the branch I created: `remove-skip-deletion-of-event-tracking`

Also should I PR to 3.0-version or to master?

[2019-03-29 09:33] kobawan commented on #281
Hello @manny42 ,
This is a public repo so you should have the rights to push your changes to your branch.
Did you fork the repo or clone it using https?
You can follow these steps on how to [contribute](https://github.com/dailymotion/vast-client-js/blob/master/docs/CONTRIBUTING.md) to vast-client-js.
Please target master in your PR :)

[2019-03-29 10:09] manny42 commented on #281
I don't get it, I can't push to the repo.
I have it cloned with ssh, have the right remote.
I've tried renaming the branch, using the terminal, github client, ssh to GitHub with my key everything is OK. Re-cloned the repo with ssh and did it again, still not working.
I guess I'm not allowed in public anymore 😆

[2019-04-02 12:53] eliamaino-fp commented on #281
Hey @manny42, maybe try to fork the repo and open a PR from there? 🤔 😅

[2019-04-03 09:18] eliamaino-fp commented on #281
Anyway, let me know if you manage to open the PR, otherwise I can do it for you ;) And since it's a bug let's point it to master 🚢

[2019-04-03 12:48] manny42 commented on #281
Managed to do it by forking and creating PR. Linked the PR to the issue! Thanks for the help! 😄

[2019-04-04 08:28] eliamaino-fp commented on #281
Fixed in https://github.com/dailymotion/vast-client-js/releases/tag/2.2.4

[2019-04-04 08:28] #281 closed

[2019-04-25 08:46] bwallberg opened #285 "Allow parsing of VAST without resolving wrappers"
When using the VASTParser resolving any wrappers directly might not be desired by a developer ( eg. when working with Chromecast CAF SDK where all AD Ids needs to be provided at the start of content playback ), currently this is not really possible, we can set `resolveAll` to `false` however this will still result in the first AdPod to resolve it's wrappers.

My suggestion is to simply split the X

[2019-04-29 14:46] eliamaino-fp commented on #285
Released in https://github.com/dailymotion/vast-client-js/releases/tag/2.4.0

[2019-04-29 14:46] #285 closed

[2019-05-09 08:33] bwallberg opened #288 "[Question] VAST-Tracker, `macro2` intention?"
In https://github.com/dailymotion/vast-client-js/blob/master/src/util/util.js you have the following code

[code]

What is the intention of `macro2`? I'm guessing it's to to replace the `[]` characters if they are encoded? In which case I think there is a bug here because the `[` is encoded to `%5B` and `]` is encoded to `%5D`.

[2019-05-09 08:34] bwallberg commented on #288
Let me know if it's a bug and I'll create a PR :)

[2019-05-10 11:55] rumesh commented on #288
Hello @bwallberg , it's not a bug but a feature 😄
In fact macro can be like ```[VALUE_TO_REPLACE]``` or ```%%VALUE_TO_REPLACE%%```.
It's to manage this 2 different form of macro we have this case.

As example sometime you have this:
https://www.example.com/tracking?pram1=test&param2=test2&ts=[TIMESTAMP]
you can also have it like this:
https://www.example.com/tracking?pram1=test&param2=test2&ts=%%T

[2019-05-10 12:27] bwallberg commented on #288
@rumesh ah I see, thank you!
I think our adprovider is incorrectly encoding the `[]`characters -_-. Thanks for the answer :)

[2019-05-10 12:27] #288 closed

[2019-05-15 09:03] eliamaino-fp commented on #272
https://github.com/dailymotion/vast-client-js/milestone/1

[2019-06-04 08:06] kobawan commented on #246
Hi @CarlosHdez , indeed the companion creatives in wrappers were being ignored and have been fixed in https://github.com/dailymotion/vast-client-js/pull/289 (version 3.0.0-alpha.2)

[2019-06-22 16:42] mysuf opened #292 "vastClient get method"
Hi,

get method is quite long. The longest part is scheduling check wrapped in Promise. This can be easily splitted and chained like:

[code]

I would like to create alternative get method which takes xmlResponse instead of url, but monkey patching is currently the only option.

Thanks

Edit: [diff](https://github.com/dailymotion/vast-client-js/compare/master...mysuf:splitted_client_get)

[2019-06-22 21:56] mysuf opened #293 "redirect handling"
Hi,

it seems that this library lacks any kind of redirect handling (f.e. followRedirects from VMAP spec). Old school ajax methods follow redirects internally, but ES2015 [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) already has redirect option.

Btw I noticed that redirect handling is missing also in node handler (but I'm not Node guy)

Thanks.

EDIT: after some

[2019-06-22 22:11] #293 closed

[2019-06-24 09:06] kobawan commented on #292
Hi @mysuf , if you need a method that parses from xml then you could use [parseVastXml](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md#parsevastvastxml-options). Would this work for you?

[2019-06-24 19:23] mysuf commented on #292
Hi @kobawan Yes, I'm using this method, but it is not the point. To include skip checking from get() you need to monkey-patch (copy-paste majority of code from get()). This is what I use now:

import { VASTClient } from 'vast-client';

[code]

And it is bad practice because copied code can change in future releases. Thanks.

[2019-06-24 21:58] mysuf opened #294 "getRemainingAds(true) question/proposal"
Hi,

I have two questions about `vastParser.getRemainingAds(true)`:

1. why is array remainingAds flattened? Then original structure of groups/pods is lost. "getRemainingAds" is plural so I would expect array of VastResponses as returned value with either one item or all remaining items. I mean something like this:

[code]
2. why are `vastParser.remainingAds` not emptied when `all===true`?

Thanks

[2019-07-04 08:13] unglud commented on #272
Is VAST 4.1 already in the release 3.0 or still in development?
If not, expect many PR from us soon )

[2019-07-04 12:19] eliamaino-fp commented on #272
Hi @unglud :)

VAST 4.0 and 4.1 spec support are part of the roadmap for the upcoming 3.0 version but we haven't directly started to work on them, so of course any help wpuld be more than welcome.

If you decide to start some work on that, please remind that the library needs to remain retro-compatibile with VAST 3.0 and 2.0. Therefore any modification should not break the existing APIs.

We're al

[2019-07-04 12:32] unglud commented on #272
Would it be ok for this release introduce only partial support of VAST 4.1? Cuz currently we are ready with Mezzanine, Viewability, Standardized Timestamp and additional tracking events. There is not much more left after this but we will work on leftovers only in 2-3 months.

Or 3.0.0 will not be released without official 4.1 support? In this case, we will use our fork with partial support until i

[2019-07-04 12:33] eliamaino-fp commented on #292
Hi @mysuf,

I get your point of view and (while we're considering to restructure `VASTClient` and `VASTParser` classe is the upcoming 3.0 release) there's a way to achieve what you want to do without any code ducplication.

`VASTClient`'s `get` method accepts a custom `URLHandler` as an optional parameter https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-client.md#parameters-

[2019-07-04 12:36] eliamaino-fp commented on #272
Ideally we'd like to have a full support in the final `3.0` release.

But we try to release alpha and beta versions as soon as a set of features is developed. Maybe we could implement what you have till now and release it as an aplha on npm, so you can install and test it on your your side easily.

What do you think?

[2019-07-04 12:37] unglud commented on #272
Couldn't be better! Thank you!

[2019-07-04 18:38] mysuf commented on #292
Sounds good. I didnt think of this possibility of use. Thanks! Closing.

[2019-07-04 18:38] #292 closed

[2019-07-12 09:39] unglud commented on #98
@sndpl hey, could you please share your code with us with universalId, conditionalAd, ViewableImpression, category elements? Would be very appreciated!

[2019-08-01 12:02] unglud commented on #272
I think I also add mezzanine support

[2019-08-15 09:12] mih4lev opened #300 "get() new Error change message"
Hello! Big thanks for this library ;)

I have 1 question about

[code]

May be can add request.status to this message for more info?

[code]

Thanks!

[2019-08-19 09:23] kobawan commented on #300
Hi! Sure it can be added, feel free to open a PR with the change and it will be reviewed and merged. You can read about our contributing guidelines [here](https://github.com/dailymotion/vast-client-js/blob/master/docs/CONTRIBUTING.md#pull-requests) :)

[2019-08-19 13:25] kobawan commented on #294
Hi @mysuf , sorry for the late reply. The questions are a bit tricky.

I can't really answer for the first question, but in my opinion remaining ads are flattened for simplicity and probably to not introduce breaking changes.

In regards to the second question I think the answer relies in `resolveAds` [here](https://github.com/dailymotion/vast-client-js/blob/master/src/parser/vast_parser.js#L365).

[2019-08-20 11:31] mysuf commented on #294
Thank you.

[2019-08-20 11:31] #294 closed

[2019-08-30 14:09] samtoya opened #305 "Can it be used in React Native?"

[2019-09-02 09:13] kobawan commented on #305
Hi! I haven't tried it but I don't see a reason why it couldn't. The codebase is framework agnostic :)

[2019-09-06 12:58] manny42 opened #306 "Error thrown with Webview 33"
I don't know if this is a requirement for the library but there is an issue when you try to parse an XML document with the latest version of the library there is an issue because `Object.assign` does not exists in ES6 implementation of Webview 33 that is shipped with versions 4.4.3 and 4.4.4 of android.

I am looking into it right now, but would like to know if you had an idea or if it was somethi

[2019-09-06 14:18] kobawan commented on #306
Hi!
We aim to support as many devices as possible, and in fact we should have polyfills for this. If you wish to speed up the process, you can contribute to the repo and we will review your PR :)

[2019-09-09 09:25] samtoya commented on #305
I was having issues with internal libraries used like *http*.

![Screenshot 2019-09-09 at 9 22 19 AM](https://user-images.githubusercontent.com/20547136/64519278-5eb77000-d2e3-11e9-8559-c9632d6e0b71.png)

I've tried following the steps provided, but still unable to get it working, please any help regarding this would be greatly appreciated.

Thanks.

[2019-09-09 13:03] manny42 commented on #306
Hi!

So I've been trying to get this to work and it seems like I'm missing something...

I changed the babelPlugin config in rollup.config.js and it looks like this:

[code]

The output is promising:

[code]

But it seems like the polyfill for `assign` is not inserted within the output file. Am I missing something?

[2019-09-09 13:49] manny42 commented on #306
After reading about people's experience with this I found out that I was missing modules to handle all those polyfills.

So I added `  plugins: ['transform-object-assign'],` to the `babelPlugin` config. But that means we need to import a different module for each polyfill we require. Isn't that a bit much?

[2019-09-09 14:15] kobawan commented on #306
I'm not sure I understood the last part:

Can you clarify? I assumed the plugin setup would be shared between all modules.
Another problem is that we are trying to keep our bundle size small, and depending on the plugin it might increase bundle size significantly. If the bundle size difference is large and you definitely need support for these device versions, I recommend instead adding the polyfi

[2019-09-09 14:37] jakub-g commented on #305
@samtoya I don't know much about react native either but let me explain.

`vast-client-js` is a module compatible both with the browsers and nodejs.
This is achieved due to some build time magic [here](https://github.com/dailymotion/vast-client-js/blob/master/src/url_handler.js#L2) and [here](https://github.com/dailymotion/vast-client-js/blob/master/rollup.config.js#L65-L67) and [`package.json` co

[2019-09-17 00:09] mseeley opened #308 "VAST Redirect / secondary"
👋 Dailymotion humans. Thank you very much for continuing to maintain and improve this library. Also thanks for the clean parsing over in `vmap-js` too. :)

I'm reading the VAST 3.0 spec and come upon the secondary ad server scenario:
![image](https://user-images.githubusercontent.com/30019/65001423-17088980-d88b-11e9-9608-4b52b6965124.png)

I haven't been able to find support in `VASTParser` or `V

[2019-09-17 00:26] mseeley commented on #308
Apologies. Reading the spec further I discovered `Wrapper`. I believe this question is answered by code. :)

[2019-09-17 00:26] #308 closed

[2019-09-17 05:59] mseeley opened #309 "VastParser#trackErrorEvent() mutates DEFAULT_EVENT_DATA"
Hi DM humans 👋:)

Reading through the source I found the following usage of `Object.assign`:

https://github.com/dailymotion/vast-client-js/blob/19223a0e4c685eb259239524f46f5e89b47b4eda/src/parser/vast_parser.js#L80-L86

`Object.assign` will transform then return the first argument, in this case `DEFAULT_EVENT_DATA`.

The current approach is only safe if the `data` argument has a fixed interface.

[2019-09-17 06:30] mseeley opened #310 "VASTParser and failed resolving leading to resolved promises"
Hello there 👋. You all have done a really considerate job writing clean code and documentation. It's very quick to read+comprehend. 👍

I'm looking at bypassing `VASTClient#get()` so that we can control which `Ad` is resolved. The `resolveAll` behavior describes resolving the first ad or all ads. Resolving all can definitely be slow, I'd don't believe we can depend on the first `Ad` being the prope

[2019-09-17 06:34] mseeley commented on #309
If it's helpful, here's [a CodePen](https://codepen.io/mseeley/pen/aboawXL) that demonstrates the underlying issue.

[2019-09-17 08:03] mseeley commented on #310
I missed the `completeWrapperResolving` activity that filters out ads with an error code. Apologies for my oversight.

We'll make sure to handle a get or parse returning an empty `response.ads` array to handle cases where there were no ads or `completeWrapperResolving` filtered them all out.

[2019-09-17 08:03] #310 closed

[2019-09-17 09:43] kobawan commented on #310
Hi, just to add more information, yes `resolveAds` and `resolveWrappers` will always resolve, regardless if an error occurred. The only time `parse` or `parseVAST` could fail is if we get an Invalid VAST XML Document [here](https://github.com/dailymotion/vast-client-js/blob/master/src/parser/vast_parser.js#L246).

[2019-09-17 09:55] kobawan commented on #309
Hi, you're definitely right, we are mutating `DEFAULT_EVENT_DATA` and `this.defaultOptions`. Using spread syntax would be quite alright as a fix. Would you be interested in contributing to our amazing vast-client? If so, please follow our [contributing guidelines](https://github.com/dailymotion/vast-client-js/blob/master/docs/CONTRIBUTING.md). Great job in spotting this :)

[2019-09-17 09:58] #186 closed

[2019-09-17 09:59] #196 closed

[2019-09-17 10:00] #246 closed

[2019-09-17 10:02] #251 closed

[2019-09-17 10:03] #252 closed

[2019-09-17 10:04] #256 closed

[2019-09-17 10:26] mseeley commented on #309
Hi @kobawan, sure thing. I'm happy to.

[2019-09-20 08:29] #309 closed

[2019-09-20 09:41] kobawan opened #316 "Implement missing VAST 4.1 trackers"
According to IAB specs for [VAST 4.1](https://iabtechlab.com/wp-content/uploads/2018/11/VAST4.1-final-Nov-8-2018.pdf) our vast-client is missing the following trackers:

**Linear and NonLinear Ads Metrics**
- [x] notUsed: This ad was not and will not be played (e.g. it was prefetched for a particular
ad break but was not chosen for playback). This allows ad servers to reuse an ad earlier
than othe

[2019-09-20 13:40] kobawan opened #317 "Replace some classes for objects for performance improvements"
To improve performance, we should replace the following classes by objects:
- [ ] AdExtension
- [ ] AdVerification
- [ ] Ad
- [ ] CompanionAd
- [ ] CreativeCompanion
- [ ] CreativeLinear
- [ ] CreativeNonLinear
- [ ] Creative
- [ ] Icon
- [ ] MediaFile
- [ ] Mezzanine
- [ ] NonLinearAd
- [ ] VASTResponse

If the classes provide default values, we should make sure not to mutate the default values i

[2019-09-20 14:00] kobawan opened #318 "[VAST 4.1] Implement missing sub elements of AdVerification"
Currently,  Verification element is missing parsing of the following sub elements:
- [x] ExecutableResource:
       - required attributes: apiFramework, type
       - value: CDATA-wrapped value
- [x] TrackingEvents:
       - subElement: Tracking **

** Tracking:
- value: CDATA-wrapped URI
- required attributes: event (for now only "verificationNotExecuted")

For more info on specs, see page 75 of

[2019-09-20 14:11] kobawan opened #319 "[VAST 4.1] Implement missing attributes for Companion ads and Icons"
According to IAB 4.1 specs, our parser is missing the following attributes in:
- Companion ad:
- [x] pxratio - The pixel ratio for which the companion creative is intended. The pixel ratio is the ratio of physical pixels on the device to the device-independent pixels. An ad intended
for display on a device with a pixel ratio that is twice that of a standard 1:1 pixel ratio
would use the value "2."

[2019-09-20 14:28] kobawan opened #320 "[VAST 4.1] Implement missing attributes and sub elements for MediaFile"
According to IAB 4.1 specs, our parser is missing the following in the MediaFile element:
- attributes:
- [x] fileSize - Optional field that helps eliminate the need to calculate the size based on bitrate
and duration. Units - Bytes
- [x] mediaType - Type of media file (2D / 3D / 360 / etc). Optional. Default value = 2D

- sub elements:
- [x] InteractiveCreativeFile:
       - value: CDATA-wrapped

[2019-09-20 14:39] kobawan opened #321 "[VAST 4.1] Implement missing sub elements for Creative"
According to IAB 4.1 specs, our parser is missing the sub elements for the Creative element:
- [x] UniversalAdId:
       - value: A string identifying the unique creative identifier. Default value is “unknown”
       - required attributes: idRegistry
- [x] CreativeExtensions
       - sub elements: CreativeExtension **

** CreativeExtension:
       - value: Custom XML object
       - attributes: ty

[2019-09-23 11:26] kobawan opened #322 "[VAST 4.1] Implement missing attributes and sub elements of Wrapper"
According to IAB 4.1 specs, our parser is missing the following for the Wrapper element:
Attributes:
- [ ] followAdditionalWrappers - a Boolean value that identifies whether subsequent Wrappers after a
requested VAST response is allowed. If false, any Wrappers received (i.e. not
an Inline VAST response) should be ignored. Otherwise, VAST Wrappers
received should be accepted (default value is “true

[2019-09-23 11:51] kobawan opened #323 "[VAST 4.1] Implement missing attributes and sub elements of Ad/Inline"
According to IAB 4.1 specs, our parser is missing the following for the Ad/Inline elements:
Attributes:
- [x] adtype: An optional string that identifies the type of ad. This allows VAST to support audio ad scenarios. Possible values – video, audio, hybrid. Default value – video (assumed to be video if attribute is not present)

Sub Elements:
- [x] AdServingId:
- value: A unique or pseudo-unique (l

[2019-09-23 12:03] kobawan opened #324 "Add id attribute to missing elements"
Currently, the id attribute of some elements are being ignored during parsing. They are the following:
- [x] impressionURLTemplates ids
- [x] advertiser id
- [x] companionClickTrackingURLTemplates ids
- [x] iconClickTrackingURLTemplates ids
- [x] nonlinearClickTrackingURLTemplates ids
- [x] videoClickThroughURLTemplate id
- [x] videoClickTrackingURLTemplates ids
- [x] videoCustomClickURLTemplates

[2019-09-23 12:38] kobawan commented on #272
I believe all issues/PR's are created for 3.0 roadmap:
- 4.1 support: #324 , #323 , #322 , #321 , #320 , #319 , #318 , #316
- unit tests improvement: #264 , pr https://github.com/dailymotion/vast-client-js/pull/313
- more information: pr https://github.com/dailymotion/vast-client-js/pull/307
- performance: #317, #249, pr https://github.com/dailymotion/vast-client-js/pull/274 (merged)

Once these i

[2019-09-23 13:00] kobawan opened #325 "Investigate possibility of adding typescript declaration file without adding typescript package"
Currently we have types from the vast-client in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vast-client/index.d.ts . Not only are they getting constantly outdated, but there is no versioning (alpha vs stable).
Ideally we could move this file to vast-client-js where we would maintain it frequently, without forcing users to add typescript to their applications. It requires s

[2019-10-01 15:50] rgulrajani commented on #324
Working on it.

[2019-10-02 18:52] rgulrajani commented on #319
Working on it

[2019-10-04 11:55] ZacharieTFR commented on #316
I'm on it ! 🏃

[2019-10-04 19:34] rgulrajani commented on #321
Working on it

[2019-10-07 14:46] #324 closed

[2019-10-07 14:47] kobawan commented on #131
Issue has been fixed in #324

[2019-10-07 14:47] #131 closed

[2019-10-07 15:08] kobawan commented on #319
fixed!

[2019-10-07 15:08] #319 closed

[2019-10-07 16:32] rgulrajani commented on #320
working on it

[2019-10-08 16:26] Doca opened #331 "VASTAdTagURI Macros not being replaced"
Can't make it work to get macros of wrapped VASTAdTagURI being filled from the client library. Is there a functionality for this as well? If not do you have a recommendation to do this?

[2019-10-08 16:58] rgulrajani commented on #318
working on it

[2019-10-08 17:06] Doca commented on #331
I found the  addURLTemplateFilter(), nevermind! Awesome work

[2019-10-08 17:06] #331 closed

[2019-10-09 03:24] stefanullinger commented on #325
Hi @kobawan,

sounds great!
Found some blog post about this here: https://dev.to/open-wc/generating-typescript-definition-files-from-javascript-5bp2

[2019-10-09 08:29] kobawan commented on #325
Ah this is very promising! If you wish to contribute you can make a proof-of-concept and participate in hacktoberfest 🥇

[2019-10-11 08:58] kobawan commented on #318
@rgulrajani here (page 78):
<img width="714" alt="Screenshot 2019-10-11 at 10 57 22" src="https://user-images.githubusercontent.com/9026911/66638830-ffb48600-ec15-11e9-9a7d-a1fc1c5381f6.png">

[2019-10-14 14:37] #321 closed

[2019-10-14 14:38] #317 closed

[2019-10-15 15:09] ZacharieTFR opened #336 "[Vast 4.1] Implement missing Macros"
According to IAB specs for [VAST 4.1](https://iabtechlab.com/wp-content/uploads/2018/11/VAST4.1-final-Nov-8-2018.pdf) our vast-client is missing macros.

Furthermore the macro `[CONTENTPLAYHEAD]` is now deprecated in VAST 4.1. We should replace it with `[ADPLAYHEAD]` and `[MEDIAPLAYHEAD]`

Following required macros should also be implemented:

- [x] `[REASON]`: Reason code for not executing verifi

[2019-10-17 15:48] imsinghdurgesg opened #338 "Vast parser issue"
vastParser.parseVAST("vastXML"), this is throwing Invalid VAST XMLDocument always.
Any help will be appreciated.

[2019-10-17 16:08] #320 closed

[2019-10-17 16:11] kobawan commented on #338
Hello! Can you give more info, such as which version of vast-client you're on, the xml causing the issue and which environment you're using (nodeJS, browser) :)

[2019-10-18 05:22] imsinghdurgesg commented on #338
@kobawan thanks for your response, these are following info -
node - 10.16.3
vast-client - 2.5.1

===============================================================

<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>
<VAST version=\"3.0\">
    <Ad id=\"108334521\">
        <InLine>
            <AdSystem version=\"1.0\">Lifestreet</AdSystem>
            <AdTitle>108334521</AdTitle>

[2019-10-19 13:54] imsinghdurgesg commented on #338
Yeah true,thanks @kobawan

[2019-10-19 13:54] #338 closed

[2019-10-21 22:04] florianorpeliere commented on #322
Hey !
I will try to working on it 😸

[2019-10-22 14:28] #316 closed

[2019-10-23 13:25] #318 closed

[2019-10-24 08:46] kobawan commented on #300
I added a more descriptive message in scope of https://github.com/dailymotion/vast-client-js/pull/332 .

[2019-10-25 15:21] #300 closed

[2019-10-30 13:23] #323 closed

[2019-10-30 16:01] TinchoF opened #344 "Set headers"
Is there any way to set headers in the getAndParseVAST function or get function to fetch when the "User-Agent" is required?

[2019-10-31 16:30] ZacharieTFR commented on #336
When `<BlockedAdCategories>` will be parsed and supported, the `[BLOCKEDADCATEGORIES]` should be autofilled same for `<Category>` and `[ADCATEGORIES]` macros.

The feature for replacing macro value with -2 when `value is known, but information can't be shared because of policy (unwilling to share)` is not implemented yet. I need more information about it, the iab specs are not clear enough.

[2019-11-06 11:03] maxbaluev opened #348 "Any plans to adding daast?"

[2019-11-08 15:56] ZacharieTFR commented on #348
Hi @maxbaluev  !

DAAST has been merged into VAST 4.1.
We will soon release a stable version of vast-client supporting vast 4.1 and therefore audio ad.
You can already use the 3.0-version alpha which support VAST 4.1 (keep in mind it's an alpha version).

For more information about it please see page 17 of VAST 4.1 specs https://iabtechlab.com/wp-content/uploads/2018/11/VAST4.1-final-Nov-8-2018.pd

[2019-11-12 14:55] kobawan commented on #344
Hello @TinchoF , with the default url handler functions it is not possible, but you can provide a custom function for fetching. `getAndParseVAST` and `get` functions only pass the options `timeout` and `withCredentials` to the default url handlers.

[2019-11-21 19:34] conradolk opened #350 "[Bug] Infinite fetching loop with VASTParser"
I'm using `VASTParser.parseVAST(XMLObject)`, and it's working nicely, XMLObject is this XML tag transformed into an object, but the library keeps fetching the URL under the VASTAdTagURI attribute (`https://vast.adsafeprotected.com/vast/fwjsvid/st/275293/35611685/skeleton.js?includeFlash=false&originalVast=https://tad.clickitnow.net/ddm/pfadx/N9166.1593590MOBSTA.CO.UK/B22633460.246126690;sz=0x0;ord

[2019-11-22 10:23] ZacharieTFR commented on #350
Hello @conradolk !

Which version of vast-client are you using ?

I checked the vast that you've provided, the `VASTAdTagURI` redirect to another wrapper which `VASTAdTagURI` redirect to:
`https://tad.clickitnow.net/ddm/pfadx/N9166.1593590MOBSTA.CO.UK/B22633460.246126690;sz=0x0;ord={$timestamp$};dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;dcmt=text/xml;dc_sdk_apis=[APIFRAMEWORKS];dc_o

[2019-11-22 13:08] conradolk commented on #350
¡Hi! thanks for replying.

I'm using the 3.0 version. This is the real VAST tag that I'm using (I modified the one above for company reasons), but since I can't seem to make it work, I'll post it:

`<VAST version='2.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='oxml.xsd'> <Ad id='{$CRID$}'> <Wrapper> <AdSystem version='1.0'>Smadex</AdSystem> <VASTAdTagURI>

[2019-11-22 14:58] ZacharieTFR commented on #350
Indeed with this VAST there is no more timeout and it work as expected but I still can't reproduce the bug. What do you mean exactly by infinite request loop ? If you open the developper tools of your browser in the panel network you see multiple request with the same url and new ones that are still being added?

[2019-11-22 20:41] conradolk commented on #350
It turns out that it was some completely unrelated, some Angular HTML template thing.. for some reason it was triggering infinite VAST requests even though it was not associated with the VAST generation. I guess it was some JavaScript related thing that I don't have to time debug haha.

Thank you for your time!

[2019-11-25 08:53] #350 closed

[2020-01-16 10:10] rumesh commented on #322
@florianorpeliere will you have any time to work on this ?

[2020-01-31 06:35] TunayNovruz opened #353 "Can Vpaid ads be played by this lib?"

[2020-01-31 09:54] ZacharieTFR commented on #353
Hi @TunayNovruz,
No, the vast-client will not play the ad by itself. This lib is used to fetch and parse VAST documents.
The vast-client provides three components:
- A VAST Client to fetch and parse VAST XML resources into JavaScript Objects.
- A VAST Parser to directly parse a VAST XML.
- A VAST Tracker to batch and call tracking URLs.

As the vast-client is fully compliant with VPAID, all xml el

[2020-02-01 20:18] TunayNovruz commented on #353
Thanks

[2020-02-01 20:18] #353 closed

[2020-04-16 02:48] jakubfrydrych opened #357 "Sequence value when wrapper parsing"
Hi, I want to ask if there is any way to get the sequence value when parsing each wrapper? In some cases, I would need to know this value, as one of the ad systems does not deliver a sequence for the end ad, so I would need to use the last or first sequence value.

Would it be possible to obtain information, for example, as part of an object for the VAST-resolving event VastParser?

Just for a qui

[2020-05-06 15:34] ZacharieTFR commented on #357
Hello @jakubfrydrych !
Sorry for the late reply,

According to IAB Specs https://iabtechlab.com/wp-content/uploads/2018/11/VAST4.1-final-Nov-8-2018.pdf#page=36 the `sequence` attribute is for `<Ad>` elements and is used for Ad Pods, which means that all ads with sequence attributes should be in the same VAST.

Unfortunatly you won't be able to get the value in the event VAST-resolving.
But based o

[2020-05-11 08:53] #322 closed

[2020-05-11 09:03] ZacharieTFR commented on #336
Support for `<BlockedAdCategories>` and its macros added in #343

[2020-05-11 09:03] #336 closed

[2020-05-20 12:24] redman684 opened #359 "resolveAll() broken and conceptually wrong."
I've only tested it with a single VAST, but passing resolveAll=false does not return only the ad pod (if available) or first ad. It returns all ads of the VAST.
I'm using the vast-client.js in a browser.

According to https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-client.md passing the resolveAll=false parameters should return only the first Ad or AdPod.

It said here http

[2020-05-20 14:26] ZacharieTFR commented on #359
Hello @redman684, thanks for spotting the typos, we will fix them ASAP.

Indeed the default value is false. Which version of vast-client are you using ? I'm using the `3.0-version` and the last call to getNextAds return only ad4.

About the conception being wrong, the IAB specify that `When the Ad Pod is served as a singular Inline response (without a Wrapper), playing the Pod or selecting one or

[2020-05-21 14:10] redman684 commented on #359
I'm using Master. Didn't notice it was that far behind. The documentation doesn't seem changed at this point.

The last call to getNextAds returns ad2, ad3 and ad4 **according to the example in the documentation**. I have not tried the actual call.

OK, so when a wrapper is present, the pod will be returned first (as specified by VAST3). While when no wrapper is present, for which VAST3 specifical

[2020-06-08 07:59] ZacharieTFR opened #360 "Opinion on allowing unordered ad sequences on Ad Pods for resolveAll method"
As mentionned in https://github.com/dailymotion/vast-client-js/issues/359#issuecomment-632107969 for a Ad Pod that have multiple Ad elements with unique sequence attributes inside a VAST but are not in ascending order the resolveAll() method will return only the first Ad element.

Meaning that resolveAll() return the first Ad element found in VAST for any VAST that contain an Ad Pod with:
- sorted

[2020-06-17 10:21] Niyatsu opened #362 "cappingMinimumTimeInterval seems to be not working for me"
Hey, I'm creating an instance of VASTClient with a cappingMinimumTimeInterval following the documentation, just like this:
[code]
but it seems to ignore the interval, and I get consecutive requests.
And I run is just like this:
[code]
After running an ad (successful request) I hit the play button and get another request.
Am I doing something wrong, I'm not sure? For now the property just seems to

[2020-06-17 14:00] ZacharieTFR commented on #362
Hello @Niyatsu,

Thanks for creating the issue, indeed I can reproduce it. I will create a PR to fix it 👍

Just to let you know the most recent version is the pre-release 3.0.0-alpha.10, it's stable and we will release officially the 3.0-version soon.

[2020-06-18 12:03] Niyatsu commented on #362
Thanks! I'll try to update asap. :)

[2020-06-19 10:48] cizmo commented on #357
Hello @ZacharieTFR

Me and my colleague @jakubfrydrych working on this particular task together.
I don't think we gave you the best example on this. Our client needs to control ads order by inserting their own Wrapper Ad with sequence, because
they are not able to modify sequence of nested Ads directly.

In other words we need to get first sequence available when reading VAST.

For better clarific

[2020-06-23 13:37] ZacharieTFR commented on #362
After digging into the code, it turns out that the documentation is missleading. Indeed I was able to reproduce the parameter having no effect because it was not the right way to use it.
In fact the cappingMinimumTimeInterval is not the time between 2 requests but between 2 ads played. This means that the vast Client has to detect (using VAST Tracker) that the ad has been played. I will update the

[2020-06-26 12:25] ZacharieTFR commented on #357
Hello @cizmo,
Indeed it make sense in the use case of an AdPod containing a wrapper. Thank you for clarifying !
Once https://github.com/dailymotion/vast-client-js/pull/363 is reviewed and merged, using `3.0-version` branch you will be able to retreive it in the parsed VAST response.

[2020-07-01 08:28] Niyatsu commented on #362
Thanks, @ZacharieTFR ! Unfortunately, I'm unable to check out the short term solution, as somehow one of my VAST-tags doesn't get parsed. I'm not sure if I should ask for help in a new issue, or whether this repository even a place for such a question, but one of my tags is just always seen empty by VASTClient. Though, when you open the tag in browser it's not empty. (https://ads2.adviad.com/www/d

[2020-07-01 12:36] ZacharieTFR commented on #362
Here, it's fine. Could you provide me the corresponding VAST ? When I follow the link I get an empty VAST:
[code]
The VAST version shouldn't be a problem, but to benefit from all the lastest feature of the VAST-Client you may want to use the [3.0-version](https://github.com/dailymotion/vast-client-js/tree/3.0-version).

[2020-07-01 12:46] Niyatsu commented on #362
@ZacharieTFR Sure, here it is:
`<VAST xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0" xsi:noNamespaceSchemaLocation="vast.xsd">
<Ad id="pre-roll">
<InLine>
<AdSystem>
<![CDATA[ Adviad ]]>
</AdSystem>
<AdTitle>
<![CDATA[ Adviad-reklam.mp4 ]]>
</AdTitle>
<Description>
<![CDATA[ Inline Video Ad ]]>
</Description>
<Impression id="primaryAdServer">
<![CDATA[ https://ads2.adviad.com/

[2020-07-01 13:23] ZacharieTFR commented on #362
Thanks 👍
When I mentionned the 3.0-version it was the vast-client version which is not related to VAST version as the vast-client supports supports VAST versions up to 4.2 and is backward compatible with previous versions (2.0 included).

Using the VAST that you gave me, and the same vast-client version that you're using (2.5.1), I do get a parsed ad as result. In you r example I just replaced the

[2020-07-01 13:40] Niyatsu commented on #362
@ZacharieTFR That's true, I checked the mock link you provided and it worked for me as well in my app. Funny thing is, I checked the original link (https://ads2.adviad.com/www/delivery/fc.php?script=apVideo:vast2&offset=true&mp4=1&zoneid=787) in a couple of VAST testers (like this one: http://tools.springserve.com/tagtest) and it works there. That's what confused be in the first place. But I guess

[2020-09-29 12:26] ZacharieTFR commented on #357
Hello,
Version 3.0 is officially [released](https://github.com/dailymotion/vast-client-js/releases/tag/3.0.0)! 🎉
Also #363 has been merged and is available in the latest version.

[2020-09-29 12:26] #357 closed

[2020-09-29 12:30] ZacharieTFR commented on #98
Hello,
Version 3.0 is officially released and we now support VAST 4 ! 🎉

[2020-09-29 12:30] #98 closed

[2020-09-29 12:31] #254 closed

[2020-09-29 12:39] ZacharieTFR commented on #272
Hello,

Version 3.0 is [officially released](https://github.com/dailymotion/vast-client-js/releases/tag/3.0.0)! 🎉

[2020-09-29 12:39] #272 closed

[2020-09-29 12:43] ZacharieTFR commented on #362
Hello,
Version 3.0 is [officially released](https://github.com/dailymotion/vast-client-js/releases/tag/3.0.0)! 🎉 It is therefore no longer necessary to use alpha. I am closing this issue because it has been resolved.

[2020-09-29 12:43] #362 closed

[2020-09-29 12:45] ZacharieTFR commented on #348
Hello,
Version 3.0 is officially released! 🎉 It is therefore no longer necessary to use alpha versions.

[2020-09-29 12:45] #348 closed

[2020-09-29 12:50] #359 closed

[2020-10-01 11:06] rumesh opened #370 "Implement vastTracker.error and deprecated vastTracker.errorWithCode"
Right now, vastTracker.errorWithCode only take the error code and only replace the [ERRORCODE] macro, we need to implement a function which can handle all macros.

Create vastTracker.error() and take a macro object as for all other methods, and deprecate `vastTracker.errorWithCode`.

[2020-10-01 20:44] philn5d-ar opened #371 "Config for allowMultipleAds"
VAST is complex and many providers (demand sources) have mixed interpretation of "sequence" when there is a standalone ad. Even the samples on IAB have sequence in standalone ads. see: https://github.com/InteractiveAdvertisingBureau/VAST_Samples/tree/master/VAST%204.0%20Samples

Google Ad Manager does not seem to have a way to set "allowMultipleAds" for their wrappers either.

It would help to be

[2020-10-02 08:18] ZacharieTFR commented on #305
Hello, I’m closing this issue because it has been inactive for a year.

Please reopen if you still encounter this issue with the latest version: https://github.com/dailymotion/vast-client-js/releases/ 😉

Thank you!

[2020-10-02 08:18] #305 closed

[2020-10-02 08:20] ZacharieTFR commented on #344
Hello, I’m closing this issue because it has been inactive for nearly a year.
Please reopen if you still have issue to provide a custom function for fetching 😉
Thank you!

[2020-10-02 08:20] #344 closed

[2020-10-02 08:22] ZacharieTFR commented on #306
Hello, I’m closing this issue because it has been inactive for a year.

Please reopen if you still encounter this issue with the latest version: https://github.com/dailymotion/vast-client-js/releases/ 😉

Thank you!

[2020-10-02 08:22] #306 closed

[2020-10-02 11:19] Doca opened #372 "Error in JEST Tests: VastParser.getAndParseVAST "Please bundle the library for node to use the node urlHandler""
Hi I'm currently developing my wrapper around your library and want to write JEST tests. JEST also uses node to run the tests and I wonder if you have an easy way to overcome the error: "Please bundle the library for node to use the node urlHandler."

In my tests I use the library installed with npm.
Any thoughts on this?

[2020-10-05 15:09] ZacharieTFR commented on #371
Hello @philn5d-ar,
Indeed as IAB specifiy:

I recognise that it is an issue when:
- you don't have controls on the value of allowMultipleAds
- having the default value set to false
- not accepting ads alone with a sequence attribute knowing that a lot of provider does it and even IAB..

It's a good idea to provide a parameter that we could set a top level inside vastClient/vastParser, please feel

[2020-10-05 15:36] ZacharieTFR commented on #372
Hello @Doca, which version of vast-client are you using ?

[2020-11-06 13:35] radiantmediaplayer opened #376 "VAST 4.2 allow multiple UniversalAdID elements to be passed in a VAST response"
Hi,

Great work on this plugin. VAST 4.2 specs states:

Right now creative.universalAdId returns an Object `{idRegistry: String, value: String}` in vast-client-js 3.0 and not an Array of Object. If you could add this feature to support multiple UniversalAdID that would be great. You can find a test VAST tag for this at https://github.com/InteractiveAdvertisingBureau/VAST_Samples/blob/master/VAST%2

[2020-11-06 15:39] ZacharieTFR commented on #376
Hi Arnaud,
Thank you for reporting this issue, we will look at it asap ! But if you wish to speed up the process, you can contribute to the repo following our [guidelines](https://github.com/dailymotion/vast-client-js/blob/master/docs/CONTRIBUTING.md#pull-requests).

[2020-11-11 17:44] superxcgm commented on #372
I encountered the same problem. I'm using vast-client 3.0.0(5cf631b).

[2020-11-16 18:00] radiantmediaplayer opened #378 "ViewableImpression tags in Wrapper are not collected"
Hi,

Right now the lib properly handles ViewableImpression tag when in an InLine tag like at: https://www.radiantmediaplayer.com/vast/tags/inline-linear-viewable.xml, but when the ViewableImpression data is in a Wrapper tag it seems the lib is just discarding those information. VAST 4.2 spec indicates that this should be possible to have ViewableImpression in Wrapper and the IAB provides a sample

[2020-12-07 13:36] #370 closed

[2020-12-07 16:18] ZacharieTFR commented on #372
Hello, the issue has been fixed in the latest release: [3.1.1](https://github.com/dailymotion/vast-client-js/releases/tag/3.1.1).
Can you do the update and tell me if you still have the error ?

[2020-12-07 16:31] ZacharieTFR commented on #371
Hello,
The PR has been merged and is available since the [3.1.0 release](https://github.com/dailymotion/vast-client-js/releases/tag/3.1.0), please update to the latest version and you will be able to set allowMultipleAds value.

As explained in the API documentation, you can set the value using the parameter `option` for following functions:
- VastClient
  - `get(url, options)` [API link](https://

[2020-12-07 16:38] ZacharieTFR commented on #376
Hello, as it's a breaking change the fix has been merged in the [4.X branch](https://github.com/dailymotion/vast-client-js/tree/4.X). We will wait a bit before doing the next major release, in the meantime you can already build and use the [4.X branch](https://github.com/dailymotion/vast-client-js/tree/4.X).
Don't hesitate to contact us if you encounter any difficulties.

[2020-12-07 16:40] ZacharieTFR commented on #378
Hi Arnaud,
Thank you for reporting this issue, we will look at it asap !

[2021-05-12 10:38] XavM commented on #378
Hello @ZacharieTFR,

It seams the Viewable impression tracker is still not firing when in a Wrapper tag.

Any news or eta for a fix ?

Regards,

[2021-06-14 21:26] olgunkaya opened #393 "Unable to parse VAST Xml from IAB"
I am trying to use the VASTClient as below but gettin "Invalid VAST XMLDocument" error. As you can see the file is from Bureau github repo. Which should be a valid one.

[code]

Can someone help me to understand, why I am getting this ? I tried to parse the xml manually using some xml parsers like the one from npm package "react-xml-parser" and it did not throw error.

[2021-06-15 08:19] ZacharieTFR commented on #393
Hello, which version of vast-client are you using ?

[2021-06-15 08:48] olgunkaya commented on #393
I tried the latest version as well. Even forked your master branch and pushed as an npm package :)

[2021-06-15 11:14] edrpls commented on #393
@olgunkaya have you tried in incognito, or disabling ad blockers? The request may be getting blocked by an ad blocker extension.

[2021-06-15 11:24] olgunkaya commented on #393
@edrpls I am trying with react-native in a real device. Is that possible ?

[2021-06-15 11:57] edrpls commented on #393
In that case, I don't think that's the issue unless there is an ad blocker or filter on your network, but I suppose you would know that.

Could it be the device itself blocking it? I tried the provided VAST with [my player](https://gumgum.github.io/gg-ez-vp/demo), which uses VAST-Client, and it loaded without problems.

[2021-06-15 12:08] olgunkaya commented on #393
well I am **remote** debugging the app on my pc browser while it is actually running on my phone. I will (still don't think but) disable the ad blockers on my browser too and give it a try.

[2021-06-17 13:14] mouchii commented on #378
Hello,

Any update on this ?

[2021-07-05 02:56] letsdoyi opened #394 "just typo in readme example"
https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md#example-5

found typo. please check this out 🙂
`timoeut` => `timeout`

[code]

[2021-07-12 14:38] PaulineMDaily commented on #394
Hi thanks for reporting this,
it will be corrected in the next update of vast-client-js :)

[2021-07-19 09:41] PaulineMDaily commented on #393
Hi @olgunkaya ! Sorry for the delayed answer, we never tried to run the project in react-native, the last issue reported for react-native was: https://github.com/dailymotion/vast-client-js/issues/305#issuecomment-529506623. The error is not the same, but if you still face the issue you might want to take a look. We tried to reproduce on master and with the latest version released but did not manag

[2021-07-20 16:10] PaulineMDaily opened #396 "On the 4.X branch, UniversalAdId shoudn't be written UniversalAdIds"
As the IAB documentation mentions it (https://www.iab.com/wp-content/uploads/2015/11/2015-11-VAST-4-0-Updated.pdf), the UniversalAdId element shouldn't be plural. The documentation and the code should be updated to match the specification of IAB.

[2021-07-22 15:40] cizmo opened #397 "VAST 4.1 Macros and Ad Request"
Hello,

due to VAST 4.1 specification macros have been completly revamped.
According to #336 you have added another VAST 4.1 macros, which is fine, but as i check source code you only applying them to the tracking URL, not request URL. Does it means that in order to use macros in VAST request URL, I should add those same macros as my custom addURLTemplateFilter?

Thanks in advance!

[2021-07-26 13:43] ZacharieTFR commented on #397
Hello,
Yes you are absolutly right, you can find the documentation [here](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-parser.md#addurltemplatefilterfilter).

[2021-09-17 13:45] rrustemh commented on #371
Hi @ZacharieTFR,
currently I have the same issue, even though the vastService version is 3.2.0, and I set the allowMultipleAds and resolveAll options to true it still returns only one ad. The vastxmlfile has two or more ads which I've to show but the get(url, options) returns only one ad.
Also I checked if the vast service has remaining ads with the method hasRemainingAds() but it returns false.
C

[2021-09-17 16:27] rumesh opened #409 "Rebase 4.X branch on master"
We need to keep `4.X` branch always uptodate with all the changes in master

[2021-09-17 21:20] mhk-etn opened #410 "[question] 4.X release and question about release cycles"
Hi,

I skimmed open/closed threads and haven't seen this question in particular posted before explicitly so I figured I would ask just for clarification.

I assume there isn't any solid plans yet for version 4.X release or some form of RC since work is mostly being done on the 3.X branch now and from what I gathered from other issues, changes and p. requests which end up in the 4.X branch are most

[2021-10-06 11:38] fingerartur opened #413 "setProgress causes a memory leak under certain condition"
`setProgress()` method of VAST Tracker causes a memory leak under specific condition.

Sadly I do not know exactly how to recreate this issued at this moment, I will get back with more info later.

I have a feeling that the issue may be related on `skipDelay === 0`, but I will have to investigate more to reproduce it.

[2022-01-27 15:16] #397 closed

[2022-01-27 15:31] ZacharieTFR commented on #413
Hello @fingerartur, were you able to reproduce/investigate ?
Thanks

[2022-01-27 15:34] ZacharieTFR commented on #393
Hello @olgunkaya, any new on this or should I close this thread ?
Thanks

[2022-01-27 16:16] ZacharieTFR commented on #410
Hello @mhk-etn,
Yes, you are right, we haven't defined a RC yet, so to benefit from the breaking change you need to build/use the 4.X but we will release the 4.X soon.

[2022-01-27 17:38] olgunkaya commented on #393
Hi, thx for checking in. I think we can cloae this. Sorry for the delay.

Teşekkürler
Olgun Kaya

[2022-01-28 08:42] #393 closed

[2022-01-28 11:04] ZacharieTFR commented on #378
Hello, sorry for the late answer but it has been fixed in the [4.X branch](https://github.com/dailymotion/vast-client-js/tree/4.X). You can use or do a build based on this branch. We will release soon the 4.X branch though

[2022-01-28 13:46] radiantmediaplayer commented on #378
Thanks I will look into v4 when it is released.

[2022-01-29 13:44] fingerartur commented on #413
Hi, sorry guys, I have not been able to dig deeper. What we did in our project was we upgraded to `"@dailymotion/vast-client": "^3.3.0",` and it seems that the issue has been fixed by the upgrade.
So I think we can close this one, if I run into it again I will let you know. :)

[2022-01-29 13:44] #413 closed

[2022-01-31 13:29] ZacharieTFR commented on #372
Hello, I'm closing this issue because it has been inactive for nearly a year and half.
Please reopen it if you still encounter some issues.

[2022-01-31 13:29] #372 closed

[2022-02-22 09:51] evrencoskun opened #423 "Using pre-bundled versions on HTML file"
Hi everyone,
First of all, thank you for the Library.

When I use the pre-bundled version in my embedded script, it doesn't work as expected.

What could I be missing?

HTML file;

`

    <!DOCTYPE HTML>
    <HTML>
    <head>
    <title>VAST Client JS Test</title>
    <script
      type="text/javascript"
      src="src/vast-client-browser.min.js"

     </head>
     <body>
     <div id="app"></div>

[2022-02-23 09:32] ZacharieTFR commented on #423
Hello @evrencoskun, it seems that your import are wrongs, I updated your demo with a hosted version of the build file and it works fine.

![image](https://user-images.githubusercontent.com/18121007/155292604-328b26fc-1787-4402-911e-0aa83c9d4bdc.png)

[2022-02-23 09:42] evrencoskun commented on #423
Yes, it worked for me as well. Thanks for that! @ZacharieTFR

[2022-02-23 09:42] #423 closed

[2022-03-15 11:11] evrencoskun opened #424 "XHRURLHandler: (0) error"
Hi for some reason, getting "XHRURLHandler:  (0)" error.
[code]

I created a [demo ](https://codesandbox.io/s/vast-client-fetching-demo-jfgxfo?file=/src/index.js) on Codesandbox.io. So you can see the related error.

Thanks.

[2022-03-16 16:36] ZacharieTFR commented on #424
Hello @evrencoskun,

I cannot reproduce on your test page.
Here the parsed ad I got on your demo:
[code]

[2022-07-13 20:36] chamino opened #427 "[QUESTION] How to write automated tests for vast tracking"
Hi, I'm trying to write integration tests to test that events are sent properly. However, intercept/spy doesn't work in cypress, probably because it's not XHR . Do you have a recommended way to write integration tests?

[2022-07-27 13:16] yukikofirework commented on #427
Hi, thank you for the tip it works! I was trying to get the callCount which didn't work, but at the end we created an object on window and pushed events there during integration tests so we can verify (Like how GTM works).

[2022-08-02 08:19] ZacharieTFR commented on #427
You're welcome ! 👍 I will close this issue then, please feel free to open another one if needed.

[2022-08-02 08:19] #427 closed

[2022-08-12 01:04] redimongo opened #429 "Integration how to"
So I have downloaded and got to the stage where it is returning all the values in the VAST is JSOn - really handy,
But because we are stitching ads into live audio, we need to be able to fire of the triggers at the correct times.

How do we do this we us `pipe()` to stream the audio file to the clients live stream.

I am trying to work out how do I call the tracking with the following method.

For

[2022-08-20 11:01] LaneSh4d0w commented on #429
I suppose "request" and "response" come from somewhere. I suppose you can treat the answer from vastClient and add your advertisment after some time over an AJAX request, as long as the response is treatable.

[2022-08-20 12:37] redimongo commented on #429
Would of hoped to be able to use the `VastTrack` feature that this plugin also has.

[2022-08-22 11:51] ZacharieTFR commented on #429
Hello @redimongo,

Yes you definitely can !
Please refer to the [VASTTracker](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md) documentation to see all the [events](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md#events-list) and [public methods](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md#

[2022-08-25 10:49] savke24 opened #430 "SSAI implementation"
Hi i have idea of trying to implement something like or exactly like Server side adding Ads.

Basically  i would like to use this library on client side to fetch VAST tag (which i was able to do) and get ad content url (mp4 file)it self which i than forward to API which is doing slicing in .ts chunks and updating m3u8 manifest.(some basic version of that logic i already have).

What i don't know a

[2022-08-26 14:26] ZacharieTFR commented on #430
Hello, it seems you're describing the same issue than #429.

No it doesn't need a player object to work but it will need to be initialized with your instance of vast client (optional), the ad object and the creative that you will play. See https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md for more examples

[code]
Then you will be responsible to call the VASTTracke

[2022-08-29 13:35] savke24 commented on #430
Hi @ZacharieTFR  thank You for Your respond.

When you say : "

Then you will be responsible to call the VASTTracker [trackImpression](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md#trackimpressionmacros) method at the right time to fire the corresponding trackers.
"

What do you mean by that ?
If call trackImpression method outside of player event, will be fire

[2022-08-29 13:51] ZacharieTFR commented on #430
Yes, it will be fired correctly if the VAST contains an `<Impression>` element. But the [IAB VAST specification](https://iabtechlab.com/wp-content/uploads/2019/06/VAST_4.2_final_june26.pdf#page=42) says:

so you must call [trackImpression](https://github.com/dailymotion/vast-client-js/blob/master/docs/api/vast-tracker.md#trackimpressionmacros) as soon as the ad is displayed.

[2022-09-02 12:45] GuillaumeBAECHLER commented on #424
If you see this error, make sure you don't have an ad blocker turned on.

[2022-09-02 13:00] evrencoskun commented on #424
Hi @GuillaumeBAECHLER,  I've just tested without running an ad blocker and it worked.

Thanks.

[2022-09-02 13:00] #424 closed

[2022-10-25 02:07] jer-0 commented on #325
Any news? its almost 2023 😉

[2022-10-25 12:07] jer-0 opened #436 "Update DefinitelyTyped to v4"
Hello, Currently there are type definitions for vast-client 3.0: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/vast-client
Which is incompatible which version 4.0.0.

Any change of any update?

[2022-10-25 12:09] ZacharieTFR commented on #436
Hello @jer-0 ! Yes I will take care of it in the incoming days 😉

[2022-11-22 21:44] staminna opened #439 "using pre bundled version of Node"
Hi.

I found the old links broken for https://github.com/dailymotion/vast-client-js/blob/master/webpack.config.js#L6-L13

and

https://github.com/dailymotion/vast-client-js/pull/239 has no example code.

How can I use using pre bundled version of Node? Perhaps a package.json file and webpack config file could help